{% block checkbox_widget %}
{% spaceless %}
{% if label is not sameas(false) and label is empty %}
    {% set label = name|humanize %}
{% endif %}
{% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
<div class="{{ horizontal_input_wrapper_class}}">
    <div class="checkbox">
{% endif %}

{% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes and label_render %}
    <label class="{% if inline is defined and inline %}checkbox-inline{% endif %}">
{% endif %}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}/>
{% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
    {% if label_render and widget_checkbox_label in ['both', 'widget'] %}
        {% if 'conditions_generales' == form.vars.name %}<a href="{{ asset('bundles/app/img/condition_garantie.pdf') }}" target="_blank">{{ label|trans({}, translation_domain) }}</a>{% else %}{{ label|trans({}, translation_domain) }}{% endif %}
    </label>
    {% endif %}
{% endif %}
{% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
    </div>
    {{ block('form_message') }}
</div>
{% endif %}
{% endspaceless %}
{% endblock checkbox_widget %}