<div class="row gallery">
    {% set i = 0 %}
  {% for media in medias %}
  <div class="col-xs-4 gallery-item">
    <a href="{{ media.filePath()|imagine_filter('gallery_large') }}" class="fancybox" rel="{{ gallery_id }}" title="{{ media.legend }}">
      <img src="{{ media.filePath()|imagine_filter('gallery_visu') }}" width="100%" height="auto" alt="{{ media.altText }}">
    </a>
  </div>
    {% set i = i + 1 %}
    {% if 0 == i%3 %}<div class='clearfix visible-xs visible-sm visible-md visible-lg '></div>{% endif %}
  {% endfor %}
</div>
