{% extends 'InesCoreBundle::layout.html.twig' %}

{% trans_default_domain 'InesCoreBundle' %}

{% block breadcrumb_inner %}
  <li class="active">{{ 'contact.title'|trans }}</li>
{% endblock %}


{% block container %}

    <div class="list-actions">
      <div class="list-actions-inner">
        <h2 class="list-header">{{ 'contact.title'|trans }}</h2>
      </div>
    </div>

    <div class="content-main">
        <div class="row">
            <div class="col-sm-8">
                <form action="{{ path('site_admin_contact') }}" method="post">
                  {{ form_widget(form) }}
                  <input type="hidden" name="_method" value="PUT">
                  <button type="submit" class="btn btn-primary">{{ 'Enregistrer' | trans }}</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
