{% extends '::base.html.twig' %}

{% block stylesheets '' %}

{% block javascripts_head %}
{{ parent() }}
<script>
  console.log('GA - Start');
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71946156-1', 'auto');
  ga('send', 'pageview');
</script>
{% endblock %}

  {% block body %}
        <header>
              {{ include('AppBundle:fragment:_header.html.twig') }}
        </header>

      <section class="container-fluid">
          {% block main %}{% endblock %}
      </section>
    </div>
<span id="top-link-block" class="hidden">
    <a href="#top" class="btn btn-primary btn-lg"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
        {{ 'haut' | trans }}<i class="glyphicon glyphicon-chevron-up"></i> 
    </a>
</span>
    <footer>
        <div class="container-fluid">
          {{ include('AppBundle:fragment:_footer.html.twig') }}
        </div>
      </footer>

    <script src="{{ asset('bundles/app/js/jquery.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/app/js/main.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.fancybox.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jCarousel.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jCarouselControl.js') }}"></script>
    {% block javascripts %}{% endblock %}
{% endblock %}
