{% extends 'AppBundle::base.html.twig' %}

{% block main %}    
    <div class='row slider_bloc'>
        <div class='container' style="padding-bottom: 0;">
            <div class='col-md-12'>
      {{ render(controller('AppBundle:Component:slider')) }}
            </div>
        </div>
    </div>
    <div class='row sector_bloc'>
    <div class='container'>
        {# affichage de la liste des marques #}
        {{ render(controller('AppBundle:Component:sector')) }}
    </div>
    </div>
    <div class='row brand_bloc'>
    <div class='container'>
        <div class='col-md-8'>
            {# affichage de la liste des marques #}
            {{ render(controller('AppBundle:Component:brand')) }}
        </div>
        <div class='col-md-4'>
            {% if app.request.locale == 'fr' %}
                {% if is_granted('ROLE_ISOSTA') %}
                    <p>{{ 'bonjour' | trans | capitalize }} {{ app.user.username }}</p>
                {% else %}
                    {{ render(controller('AppBundle:Storage:login', {'light': true})) }}
                {% endif %}
            {% endif %}
            {# affichage des dernières actus #}
            {% if app.request.locale == 'fr' %}
                {{ render(controller('AppBundle:Component:post')) }}
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}