{% extends 'AppBundle::base.html.twig' %}

{% block main %}
<div class='row brand_bloc'>
    <div class='container'>
            <h1>{{ 'marques' | trans }}</h1>
            <nav class="breadcrumb">
                {{ 'breadcrumb'|trans }}{{ render(controller('InesThemeBundle:Menu:show', {'alias': 'main', 'renderer': 'breadcrumb'})) }}
            </nav>
        <div class=' clearfix row'>
            {% for content in entries %}

                <div class='col-xs-12 col-sm-6 col-md-3 brand-card'>
                    
                    <div class="col-xs-12 brand-list-item">
                        <div class="brand-list-link row">
                             <div class="col-xs-10">
                                <ul class="">
                                    {% for gamme in content.metas.gamme %}
                                    <li>
                                        <a href="{{ gamme.link.url }}">{{ gamme.name | upper }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-xs-2" style="padding-left: 10px;">
                                <span class='brand-color' style='display: inline-block; width: 20px; height: 20px; background-color: {{ content.metas.configuration.color }}; margin-top: 15px;color: #fff;line-height: 1em;'></span>
                            </div>
                        </div>
                    

                    {% if content.thumbnail %}
                        <div class="card-content"><img src="{{ content.thumbnail.filePath|imagine_filter('core_medium') }}" class="brand-list-thumbnail" height='100%'></div>
                    {% endif %}

                    <div class="card-reveal flex" style="display: none;">
                        <div class="bloc">
                            <span class="card-title">{{ content.title }}</span> 
                            {{ content.metas.text.brand_excerpt | raw }}
                        </div>
                    </div>
                    <h3 class='brand-title'>
                        
                        
                    </h3>
                    <p>{{ content.metas.text.brand_excerpt | raw }}</p>
</div>
                </div>
            {% endfor %}
         </div>
    </div>
</div>
{% endblock %}