{% extends 'AppBundle::base.html.twig' %}

{% block main %}

  {% for entry in entries %}
<div class="row actu_bloc">
    <div class="container"> 
        <div class="row">
        <div class="col-md-12 bloc-category ">
    <h2 class="category" style="background-color: {{ entry.metas.option.charte_color }};">
        <a href="{{ entry.url }}" rel="bookmark" style="color: #ffffff;">{{ entry.title }}</a>
        <span style="float: right; font-size: 0.65em; padding-right: 10px;">{{ entry.details.publishedAt|localizeddate('full', 'none', app.request.locale ) }}</span>
    </h2>
        <div class="row">                                
            <div class="col-md-12">
                <div class="bloc-simple_text" style=" border-left: 3px solid {{ entry.metas.option.charte_color }}; {% if entry.thumbnail %}min-height: 130px;{% endif %}">
                    {% if entry.thumbnail %}
      <img src="{{ entry.thumbnail.filePath()|imagine_filter('gallery_small') }}" class="media-object" style="float: left; padding-right: 15px;">
    {% endif %}
                    {{ entry.excerpt|raw }}
                    <p><a href="{{ entry.url }}" rel="bookmark" >{{ 'consulter' | trans | capitalize }}</a></p>
                </div>
                
            </div>
        </div> 
</div>

        
                    
                
    </div></div>
</div>
  
  {% endfor %}

  {% if pager.haveToPaginate %}
    {{ pagerfanta(pager) }}
  {% endif %}

  {# display sidebar #}
  {{ render(controller('InesThemeBundle:Area:index', {'contentType': contentType})) }}

{% endblock %}
