{% extends 'AppBundle::base.html.twig' %}
{% block seo_title %}{{ entry.seo.title }}{% endblock %}
{% block seo_description %}{{ entry.seo.description }}{% endblock %}

{% block main %}
<div class="row actu_bloc">
    <div class="container"> 
        <div class="row">
        <div class="col-md-12 bloc-category ">
    <h2 class="category" style="background-color: {{ entry.metas.option.charte_color }};">
        {{ entry.title }}
        <span style="float: right; font-size: 0.65em; padding-right: 10px;">{{ entry.details.publishedAt|localizeddate('full', 'none', app.request.locale ) }}</span>
    </h2>
        <div class="row">                                
            <div class="col-md-12">
                <div class="content" style="padding-top: 30px;">
                    {% if entry.thumbnail %}
                        <a class="fancybox" href="{{ entry.thumbnail.filePath()|imagine_filter('core_large') }}" alt=""><img src="{{ entry.thumbnail.filePath()|imagine_filter('core_moyen') }}"></a>
    {% endif %}
                    {{ entry.body|raw|shortcode }}
                </div>
                <div class="categories">
        {{ entry.taxonomy.linkableTerms('category', 'categories', '<ul>', '<li>', '', '</li>', '</ul>')|raw }}
      </div>
            </div>
        </div> 
</div>

        
                    
                
    </div></div>
</div>


{% endblock %}
