
{# pour récupérer les metas recursives #}
{% set advert = contents.0 %}
{# affichage des données comme sur la V1 #}
        <div id='advert-one' style='
             background-color: {% if advert.metas.configuration.background_color_charte %}{{ advert.metas.configuration.background_color_charte }}{% else %}{{ advert.metas.configuration.background_color }}{% endif %}; 
             color: {% if advert.metas.configuration.fields_color_charte %}{{ advert.metas.configuration.fields_color_charte }}{% else %}{{ advert.metas.configuration.fields_color }}{% endif %}'>

            <img src='{{ advert.thumbnail.filePath|imagine_filter('core_medium') }}'>
            {{ advert.metas.text.body | raw }}

            {% if advert.metas.text.link %}
                        <a href="{{ advert.metas.text.link.url }}" type="button" class="btn btn-lg btn-primary" aria-haspopup="true" aria-expanded="false" style='
                           background-color: {% if advert.metas.configuration.button_background_color_charte %}{{ advert.metas.configuration.button_background_color_charte }}{% else %}{{ advert.metas.configuration.button_background_color }}{% endif %}; 
                           border-color: {% if advert.metas.configuration.button_background_color_charte %}{{ advert.metas.configuration.button_background_color_charte }}{% else %}{{ advert.metas.configuration.button_background_color }}{% endif %};'>
                            {% if advert.metas.text.link_label %}{{ advert.metas.text.link_label }}{% else %}{{ 'savoir_plus' | trans }}{% endif %}
                          </a>
                    {% endif %}
        </div>
