<div class="panel panel-default">
  <div class="panel-heading">{{ 'marques_isosta' | trans | upper }}</div>
  <div class="panel-body panel-border">
    
        <div class='row'>
            <div class='col-md-6'>
                {% set divisor = ((contents|length)/2)|round %}
                {% for content in contents %}
                    <div class='brand-item'>
                        <h3 class='brand-title'>
                            <span class='brand-color' style='display: inline-block; width: 15px; height: 15px; background-color: {{ content.metas.configuration.color }}'></span>
                            {{ content.title }}
                        </h3>
                        
                        {% if content.thumbnail %}
                            <img src="{{ content.thumbnail.filePath|imagine_filter('gallery_small') }}" width="100" class="brand-icon">
                        {% endif %}
                        <ul class="brand-gammeList">
                        {% for gamme in content.metas.gamme %}
                            
                                <li>
                                    <a href="{{ gamme.link.url }}">{{gamme.name}}</a>
                                </li>
                        {% endfor %}
                            </ul>
                    </div>
                    {% if loop.index == divisor %}
                        </div>
                        <div class='col-md-6'>
                    {% endif %}
                {% endfor %}
            </div>
            <div class='col-md-4'></div>
        </div>
      
  </div>
</div>