<div class="panel-default ">
  <div class="panel-heading">{{ 'actus' | trans | upper }}</div>
    <div class="panel-actus">
    {% for content in contents %}
        <div class='post-item'>
            <h3>
                <a href="{{ content.url }}">{{ content.title }}</a>
            </h3>
            <p>{{ content.excerpt }}</p>
            <p class="date">{{ content.details.publishedAt|localizeddate('full', 'none', app.request.locale ) }}</p>
        </div>
    {% endfor %}
    <a href='{{ path('ines_theme_content_list', {'linkRewrite': contentType.linkrewrite}) }}'>{{ 'toutes_actus' | trans | upper }}</a>
</div>
</div>