
    
      
        {% for content in contents %}
            <div class='col-md-4 sector-item-{{ content.title|slice(0, 1) }}'>
                    <div class="sector-wrapper" style="background-color: {{ content.metas.configuration.color }} ">
                        <div class='thumbnail_img'>
                    <h3>
                        {% if content.thumbnail %}<img src='{{ content.thumbnail.filePath|imagine_filter('core_thumbnail') }}'>{% endif %}
                        {{ content.title | upper }}
                    </h3></div>
                    <ul class='list_sector'>{% for gamme in content.metas.gamme %}
                        <li><a href="{{ gamme.link.url }}">{{ gamme.name }}</a></li>
                    {% endfor %}</ul>
                    {% if content.metas.button.button_label %}
                        <a href="{{ content.metas.button.button_link }}" style="background-color: {{ content.metas.configuration.button_color }}; border-color: {{ content.metas.configuration.button_color }}" type="button" class="btn btn-info sector_button" aria-haspopup="true" aria-expanded="false">
                            {{ content.metas.button.button_label }}
                          </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
