{% extends 'MopaBootstrapBundle:Form:fields.html.twig' %}

{% block storage_tree_widget %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default(''))}) %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (widget_type != '' ? (multiple ? 'checkbox' : 'radio') ~ '-' ~ widget_type : ''))}) %}
    {% if expanded %}
        {% set attr = attr|merge({'class': attr.class|default(horizontal_input_wrapper_class)}) %}
        <div {{ block('widget_container_attributes') }}>
    {% endif %}

    {% set previous = '' %}

    {% for key, child in form %}
        {% set current = choices.choices[child.vars.value]|split(separator,3)|slice(0,2)|join('/') %}

        {% if (previous != current) %}
        <div>
            <hr />
            <strong>&raquo; {{ current }} </strong>
        {% endif %}

        {% if widget_type != 'inline' %}
        <div class="{{ multiple ? 'checkbox' : 'radio' }}">
        {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ form_widget(child, {'horizontal_label_class': horizontal_label_class, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class, 'attr': {'class': attr.widget_class|default('')}}) }}
                {{ child.vars.label|trans({}, translation_domain) }}
            </label>
        {% if widget_type != 'inline' %}
        </div>
        {% endif %}

        {% if (previous != current) %}
        </div>
        {% endif %}

        {% set previous = current %}
    {% endfor %}


    {{ block('form_message') }}
    {% if expanded %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}
