<!DOCTYPE html>
<html lang="{{ app.request.locale }}" {% block bracket_html '' %}>
  <head>
    <meta charset="UTF-8" />
    <title>{% block seo_title %}Groupe ISOSTA{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" value="{% block seo_description '' %}">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/main.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" />
  </head>
  
  
  <body{% block body_class '' %}>
    {% block javascripts_head %}{% endblock %}
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
  </body>
  
</html>
