{# empty Twig template #}

{# pour récupérer les metas recursives #}
{% set advert = entry.metas.header_slider.advert %}
{% set advert_2 = entry.metas.header_slider.advert_2 %}
{# class Content function contentMetasGroup #}

{# affichage des données comme sur la V1 #}
{% set pub = 0 %}
{% if advert %}{% set pub = pub + 1 %}{% endif %}
{% if advert_2 %}{% set pub = pub + 1 %}{% endif %}

{% if pub !=  2 %}
    {% if advert %}
        {{ include('AppBundle:theme:template/_advert.html.twig', {'entry': advert}) }}
    {% endif %}
    {% if advert_2 %}
        {{ include('AppBundle:theme:template/_advert.html.twig', {'entry': advert_2}) }}
    {% endif %}
{% else %}
<div class="infos">
    {{ include('AppBundle:theme:template/_advert.html.twig', {'entry': advert}) }}
    {{ include('AppBundle:theme:template/_advert.html.twig', {'entry': advert_2}) }}
</div>
{% endif %}

