    {% if entry.metas.options.image_only is defined and entry.metas.options.image_only != '' %}
        <div class='info-img'>
            {% if entry.metas.options.redirect_ref is defined and entry.metas.options.redirect_ref %}<a href="#references">
            {% elseif  entry.metas.options.link %}<a href="{{ entry.metas.options.link.url }}">{% endif %}
            <img src='{{ entry.thumbnail.filePath|imagine_filter('core_medium') }}' style="width: 100%;">
            {% if entry.metas.options.link or entry.metas.options.redirect_ref %}</a>{% endif %}</div>
    {% else %}
                
        {% if entry.metas.text.advert_title %}<h2 style='background-color: {{ entry.metas.configuration.button_background_color }}; color: {{ entry.metas.configuration.fields_color }}' class="info-title">{{ entry.metas.text.advert_title | upper }}</h2>{% endif %}

        <div class='info' style='background-color: {% if entry.metas.configuration.background_color_charte %}{{ entry.metas.configuration.background_color_charte }}{% else %}{{ entry.metas.configuration.background_color }}{% endif %}; 
             color: {% if entry.metas.configuration.fields_color_charte %}{{ entry.metas.configuration.fields_color_charte }}{% else %}{{ entry.metas.configuration.fields_color }}{% endif %}'>
            <img src='{{ entry.thumbnail.filePath|imagine_filter('core_medium') }}' style="max-width: 100%">
            {{ entry.metas.text.body | raw }}

            
                {% if entry.metas.options.redirect_ref is defined and entry.metas.options.redirect_ref %}<a href="#references" type="button" class="btn btn-info" aria-haspopup="true" aria-expanded="false" style='background-color: {% if entry.metas.configuration.button_background_color_charte %}{{ entry.metas.configuration.button_background_color_charte }}{% else %}{{ entry.metas.configuration.button_background_color }}{% endif %}; 
                       border-color: {% if entry.metas.configuration.button_background_color_charte %}{{ entry.metas.configuration.button_background_color_charte }}{% else %}{{ entry.metas.configuration.button_background_color }}{% endif %};'>
                       {{ 'refs' | trans | capitalize }}</a>
            {% elseif  entry.metas.options.link %}
                    <a href="{{ entry.metas.options.link.url }}" type="button" class="btn btn-info" aria-haspopup="true" aria-expanded="false" style='background-color: {% if entry.metas.configuration.button_background_color_charte %}{{ entry.metas.configuration.button_background_color_charte }}{% else %}{{ entry.metas.configuration.button_background_color }}{% endif %}; 
                       border-color: {% if entry.metas.configuration.button_background_color_charte %}{{ entry.metas.configuration.button_background_color_charte }}{% else %}{{ entry.metas.configuration.button_background_color }}{% endif %};'>
                        {% if entry.metas.options.link_label %}{{ entry.metas.options.link_label }}{% else %}{{ 'savoir_plus' | trans | capitalize }}{% endif %}
                      </a>
                {% endif %}
        </div>
    {% endif %}
