{% set atout = entry.metas.addon.atout %}
{% set conf = atout.metas.configuration %}
{% set contents = atout.metas.descriptif %}

{% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %}
    <span class='tim-square' style='background-color: {{ conf.color }}'></span>
    <h2 class='category tim-title' style='background-color: #000000;'>{{ 'atouts' | trans | upper }}</h2>
{% else %}
    <h2 class='category' style='background-color: {{ conf.color }};'>{{ 'atouts' | trans | upper }}</h2>
{% endif %}

<div class="bloc-atout">
    {% for content in contents %}
        <h3>{{ content.atout_title }}</h3>
        {{ content.atout_text | raw }}
    {% endfor %}
</div>

