{% set catalogues = entry.metas.catalogue_produit.catalogues %}
    {% for catalogue in catalogues %}
    <div class='col-xs-12 catalogues'>  
        <div class=" bloc-category bloc-category-catalogue" >
            <div class="row">
                <div class="col-xs-9">
                    <span class='square' style='background-color: {{ catalogue.metas.configuration.category_color }}'></span>
                    <h2 class='category'>{{ catalogue.metas.configuration.category }}</h2>
                </div>
                <div class="col-xs-3 reference-navigation">
                <span class="jcarousel-controler">
                    <a class="jcarousel-prev" role="button" data-jcarousel-control="true" data-filter="jcarousel-{{ catalogue.metas.configuration.category  | lower | replace({' ':'-'})}}">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="color: {{ catalogue.metas.configuration.category_color }}"></span>
                        <span class="sr-only">Précédent</span>
                    </a>
                    <a class="jcarousel-next" role="button" data-jcarousel-control="true" data-filter="jcarousel-{{ catalogue.metas.configuration.category  | lower | replace({' ':'-'})}}">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: {{ catalogue.metas.configuration.category_color }}"></span>
                        <span class="sr-only">Suivant</span>
                    </a>
                </span>
            </div>
            </div>
        </div>
        <div class="jcarousel-catalogue jcarousel jcarousel-{{ catalogue.metas.configuration.category  | lower | replace({' ':'-'})}}">
            <div class="jcarousel-container">
                {% for produit in catalogue.metas.products %}
                    <div class="item col-md-4 {% if loop.first %}active{% endif %} {{ catalogue.metas.configuration.category }}">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class=" thumbnail" style="background-color: {{ catalogue.metas.configuration.category_color }}">
                                    <a class="fancybox" href="{{ produit.picture.filePath|imagine_filter('catalogue_moyen') }}"><img src="{{ produit.picture.filePath|imagine_filter('catalogue_petit') }}"></a>
                                </div> 
                            </div>
                            <div class="col-xs-6">
                                <div class="caption-catalogue">
                                {{ produit.description | raw }}
                            </div>
                            </div>
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}

