{% form_theme formView 'AppBundle:Form:fields.html.twig' %}
    <div class="webform {{ webForm.embeddedForm.cssClass }}">
        <form method="post" action="{{ path('site_form_create', {'webFormId': webForm.id}) }}" role="form" class="form-horizontal">
        {{ form_start(formView, {'attr': {'class': 'form-horizontal'} }) }}
            {{ form_errors(formView) }}

            <fieldset>
                {% set index = 0 %}
                
                {% for block in formView.children %}
                    {% if 0 == index %}<div class="row">{% endif %}
                        {% if 'validation' == block.vars.name %}
                              <div class="col-md-12">
                                  <div class="well well-sm bloc_formulaire {{block.vars.name}}" >
                                    {{ webForm.description | raw }}
                        {% else %}
                              <div class="col-md-12">
                                  <div class="bloc_formulaire " >
                                      <legend>{{ block.vars.name | trans }}</legend>
                      {% endif %}
                                      {% for field, label in block.children %}
                                            {% if label.vars.choices is defined %}
                                                <div class="formulaire-group col-xs-12">
                                                    {{ form_label(label, null, {'label': label.vars.label, 'label_attr': {'class': 'control-label'} }) }}<br />
                                                    {{ form_widget(label, {'label': label.vars.label }) }}
                                                  </div> 
                                            {% else %}
                                                <div class="formulaire-group {% if 'input-tiny' == label.vars.attr.class %}col-xs-6{% else %}col-xs-12{% endif %}">
                                                    {{ form_widget(label, {'class': 'col-xs-6','label': label.vars.label, 'attr': { 'placeholder': label.vars.label} }) }}
                                              </div> 
                                            {% endif %}
                                           
                                       {% endfor %} 
                                      </div>
                               </div>
                  {% if 1 == index %}</div>{% set index = 0 %}{% else %}{% set index = 1 %}{% endif %}
                {% endfor %}
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-grey navbar-right" name="is_submitted">{{ (webForm.submitText ? webForm.submitText : 'envoyer')|trans |upper }}</button>
                            <input type="hidden"  name="type_form"  value="{$type}" />
                        </div>
                  </div> 
            </fieldset>
        </form>
      </form>
    </div>