{% if entry.addon.link_form is defined and '' != entry.addon.link_form %}
    <div class="jumbotron" style='border: 1px solid #888;'>
        <p style='margin: 0px 0px 10px;'>{{ 'newsletter' | trans }}</p>
        <a class="btn btn-primary btn-lg" href="{{ entry.addon.link_form.url }}" role="button">{{ 'inscription' | trans }}</a>
    </div>
{% endif %}