{% set conf = entry.metas.references.reference.metas.configuration %}
{% set references = entry.metas.references.reference.metas.references %}
{% set cat = [] %}
<div class="row">
<div class='col-xs-12 references' id="references">  
    <div class=" bloc-category {% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %} bloc-category-tim{% endif %}" 
         style="background-color: {% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %} #000000{% else %}{{ entry.metas.theme.category_color }}{% endif %};">
        <div class="row">
            <div class="col-md-4">{% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %}
                <span class='square' style='background-color: {{ entry.metas.theme.category_color }}'></span>
                <h2 class='category'>{{ 'references' | trans |upper }}</h2>
            {% else %}
                <h2 class='category' >{{ 'references' | trans |upper }}</h2>
            {% endif %}
            </div>
            <div class="col-md-8 reference-navigation">
                <span class="reference-links">
                    <a>{{ 'tous' | trans | capitalize }}</a>
                    {% for reference in references %}
                        {% if cat[reference.category] is not defined  %}
                            <a data-filter="{{ reference.category }}">{{ reference.category | trans | capitalize }}</a>
                            {% set cat = cat|merge({(reference.category):1}) %}
                        {% endif %}
                  {% endfor %}
              </span>
                <span class="jcarousel-controler">
                    <a class="jcarousel-prev" role="button" data-jcarousel-control="true" data-filter="jcarousel">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="jcarousel-next" role="button" data-jcarousel-control="true" data-filter="jcarousel">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="jcarousel">
        <div class="jcarousel-container">
            {% for reference in references %}
                <div class="item col-md-3 {{ reference.category }}">
                    <div class=" thumbnail thumbnail-reference">
                        <a class="fancybox" href='{{ reference.picture.filePath|imagine_filter('references_zoom') }}'>
                            <img src="{{ reference.picture.filePath|imagine_filter('references_normal') }}">
                        </a>
                    </div> 
                        <div class="caption">
                            {{ reference.legend }}
                            {% if '' != reference.link %}<p><a href="{{ reference.link.url }}">{{ 'fichechantier' | trans | capitalize }}</a></p>{% endif %}
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
