<div id="carousel-example-generic" class="{{ class }} carousel slide" data-ride="carousel" data-interval="5000" data-pause="false">
        {% set count = 0 %}
        {% for item in slides %}
            {% set count = count + 1 %}
        {% endfor %}
    {% if count > 1 %}
    <ol class="carousel-indicators">
        {% set counter = 0 %}
        {% for item in slides %}
            <li data-target="#carousel-example-generic" data-slide-to="{{ counter }}"></li>
                {% set counter = counter + 1 %}
            {% endfor %}
    </ol>
    {% endif %}
    {# slider item #}
    {# le premier élément et le dernier ont une classe supplémentaire, peut-être utile pour l'intégration #}
    <div class="carousel-inner slider-item" role="listbox">
            

    {% for item in slides %}
            <div class="slider-item__container item {% if loop.first %}active{% endif %}"
                 style="{% if item.slide_background_color is defined and "" != item.slide_background_color %} background-color: {{ item.slide_background_color }};{% endif %}
                 "
                 >
                {# si image renseignée #}
                {% if item.picture %}<div class="slider-img "><img src="{{ item.picture.filePath|imagine_filter('core_large') }}" class="slider-item__picture"></div>{% endif %}

                {# cartouche de texte à positionné sur l'image #}
                {% if item.text %}                    
                    {% if item.bottom_text is defined and item.bottom_text %}
                        <div class="slider-item__text bottom_text">
                            {{ item.text|raw }}
                        </div>
                    {% else %}
                        <div class="slider-item__text carousel-caption ">
                    

                        
                            {# titre #}
                            <div class='{% if 'left' == item.alignement or 'right' == item.alignement %}col-xs-12 col-sm-8{% else %}col-sm-12{% endif %}
                                                 {% if 'right' == item.alignement %} col-sm-offset-4{% endif %} flex' >
                                <div class="bloc" style='color: {{ item.text_color }};'>
                                    {{ item.text|raw }}
                                    {% if item.link %}
                                        <a href="{{ item.link }}" type="button" class="btn " aria-haspopup="true" aria-expanded="false" style='background-color: {{ item.background_color }}; border-color: {{ item.background_color }}'>
                                          {% if item.link_label %}{{ item.link_label }}{% else %}Plus{% endif %}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                    </div>
                               {% endif %} 
                {% endif %}
            </div>
    {% endfor %}
    </div>
    <!-- Controls -->
    {% if count > 1 %}
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    {% endif %}
</div>
