<div class='content_bloc'>
    <div class='container'>
        <div class="application-row">
            <div class="col-xs-12 bloc-category"><div class="row">
                        <h2 class="category" style="background-color: #c1b629;">{{ 'datescles' | trans | upper }}</h2>
                    </div>
            </div>
    
        <div class="col-xs-12 container_timeline">
            <h5 class="timeline_title" style="color: #006699;">{{ 'activitegroupe' | trans | upper }}</h5>
                <div class="jcarousel timeline-jcarousel">
                    <div class="jcarousel-container list_timeline">

                    {% for content in contents %}
                        <div style="float: left;" class="item">
                            <div class="timeline" style="width: 250px; height: 150px; ">
                                <div class="activite" style="overflow: hidden; 
                                     {% if content.metas.activite.picture is defined and '' != content.metas.activite.picture %}background-image: url('{{ content.metas.activite.picture.filePath|imagine_filter('timeline') }}'); {% endif %}
                                     width: 100%; height: 100%;">
                                    <div class="p_activite" style="background-color: {{ content.metas.activite.background_color }}; color: {{ content.metas.activite.text_color }}; ">{{ content.metas.activite.body | raw }}</div>
                                </div>
                                <div class="timeline_date" style="background-image: url('{{ asset('bundles/app/img/date.png') }}'); ">{{ content.metas.content.date | date("Y") }}</div>
                                <div class="produit" style="overflow: hidden; 
                                     {% if content.metas.produit.picture is defined and '' != content.metas.produit.picture %}background-image: url('{{ content.metas.produit.picture.filePath|imagine_filter('timeline') }}'); {% endif %}
                                     width: 100%; height: 100%;">
                                    <div class="p_produit" style="background-color: {{ content.metas.produit.background_color }}; color: {{ content.metas.produit.text_color }}; ">{{ content.metas.produit.body | raw }}</div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}


                    </div>
                    <span class="jcarousel-controler timeline-control timeline-control-prev">
                        <a class="jcarousel-prev" role="button" data-jcarousel-control="true" data-filter="jcarousel">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </span>
                    <span class="jcarousel-controler timeline-control timeline-control-next">
                        <a class="jcarousel-next" role="button" data-jcarousel-control="true" data-filter="jcarousel">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </span>
                    </div>

                <h5 class="timeline_title" style="color: #dc8524;">{{ 'produits' | trans | upper }}</h5>
        </div></div>
</div>
</div>