<!-- catalogue produit -->
<div class='row slider_bloc {% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %}bloc_tim{% endif %}'>
    <div class='container'>
            <h1>{% if entry.metas.theme.page_title is defined and entry.metas.theme.page_title is not null %}{{ entry.metas.theme.page_title }}{% else %}{{ entry.title }}{% endif %}</h1>
        <div class='row'>
            <nav class="breadcrumb">
                {{ 'breadcrumb'|trans }}{{ render(controller('InesThemeBundle:Menu:show', {'alias': 'main', 'renderer': 'breadcrumb'})) }}
            </nav>
            <div class='{% if entry.metas.header_slider.advert or entry.metas.header_slider.advert_2  %}col-sm-8 col-xs-12{% else %}col-xs-12{% endif %}'>
                {% if entry.metas.header_slider.slider %}
                    {{ include('AppBundle:theme:template/_slider.html.twig', {'entry': entry}) }}
                {% endif %}
            </div>        
           {% if entry.metas.header_slider.advert or entry.metas.header_slider.advert_2  %}
            <div class='col-sm-4 hidden-xs'>
                {{ include('AppBundle:theme:template/_adverts.html.twig', {'entry': entry}) }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
        
        
        
{% if entry.metas.catalogue_produit.catalogues is defined %}
<div class='row catalogue_bloc '>
    <div class='container'>
    {{ include('AppBundle:theme:template/_catalogue.html.twig', {'entry': entry}) }}
    </div>
</div>
{% endif %}
