<!-- fiche produit -->
{% set header = entry.metas.header_site %}
<div class='row slider_bloc {% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %}bloc_tim{% endif %}'>
    <div class='container'>
            <h1>{% if entry.metas.theme.page_title is defined and entry.metas.theme.page_title is not null %}{{ entry.metas.theme.page_title }}{% else %}{{ entry.title }}{% endif %}</h1>
        <div class="row">
            <nav class="breadcrumb">
                {{ 'breadcrumb'|trans }}{{ render(controller('InesThemeBundle:Menu:show', {'alias': 'main', 'renderer': 'breadcrumb'})) }}
            </nav>
        <div class='col-xs-6 image-overflow'>
            <img src='{{ header.picture.filePath|imagine_filter('core_large') }}' class="photo-fiche-produit">
        </div>        
        <div class='col-xs-6'>
            
          <h2>{{ header.title }}</h2>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default panel-problem">
        <div class="panel-heading" style="">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{{ 'problematique' | trans | capitalize }}</a></h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
              <img src="{{ asset('bundles/app/img/problem.png') }}" alt="Problématique" />
              {{ header.problem | raw }}
          </div>
        </div>
      </div>
      
      <div class="panel panel-default panel-solution">
        <div class="panel-heading" style="background-color: {{entry.metas.theme.category_color }};">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">{{ 'solution' | trans | capitalize }}</a></h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body" style="background-color: {{entry.metas.theme.category_color }};">
              <img src="{{ asset('bundles/app/img/solution.png') }}" alt="Solution" />
              {{ header.solution | raw }}
          </div>
        </div>
      </div>
    </div>



        </div>
    </div>
    </div>
</div>
{% set photos = entry.metas.site_photo %}
{% set content = entry.metas.site_content %}
<div class='row content_bloc'>
    <div class='container'>
        <div class='row'>
            <h1>{{ entry.title }}</h1>
            <nav class="breadcrumb">
                {{ render(controller('InesThemeBundle:Menu:test', {'alias': 'main', 'renderer': 'breadcrumb'})) }}
            </nav>
            <div class="col-xs-12 col-md-6" style="padding-bottom: 20px;">
                <div class='row'>
                {% for photo in photos %}
                    <div class="col-xs-4 photos-chantier">
                        <a class="fancybox" href="{{ photo.picture.filePath|imagine_filter('chantier_zoom') }}"><img src='{{ photo.picture.filePath|imagine_filter('chantier_normal') }}'></a>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                    {% set content = entry.metas.site_content %}

                    <h2 class='category' style='background-color: {{entry.metas.theme.category_color }};'>{{ 'zoomchantier' | trans | upper }}</h2>

                    <div class="bloc-atout">
                        <div class="row">
                        <div class="col-xs-6">
                            <p><b>{{ 'surface'|trans | capitalize }}</b>: {{ content.surface }}</p>
                            <p><b>{{ 'architecte'|trans | capitalize }}</b>: {{ content.architecte }}</p>
                            <p><b>{{ 'client'|trans | capitalize }}</b>: {{ content.client }}</p>
                            <p><b>{{ 'entreprise'|trans | capitalize }}</b>: {{ content.entreprise }}</p>
                            <p><b>{{ 'photographe'|trans | capitalize }}</b>: {{ content.photographe }}</p>
                        </div>
                        <div class="col-xs-6">
                            <p><b>{{ 'date_projet'|trans | capitalize }}</b>: {{ content.date_projet }}</p>
                            <p><b>{{ 'solution'|trans | capitalize }}</b>: {{ content.solution | raw }}</p>
                        </div>
                    </div></div>
            </div>
        </div>
    </div>
</div>