<!-- form -->
{% set header = entry.metas.intro %}
<div class='row slider_bloc {% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %}bloc_tim{% endif %}'>
    <div class='container'>
            <h1>{% if entry.metas.theme.page_title is defined and entry.metas.theme.page_title is not null %}{{ entry.metas.theme.page_title }}{% else %}{{ entry.title }}{% endif %}</h1>
        <div class="row">
            <nav class="breadcrumb">
                {{ 'breadcrumb'|trans }}{{ render(controller('InesThemeBundle:Menu:show', {'alias': 'main', 'renderer': 'breadcrumb'})) }}
            </nav>
            {% if header.picture is defined and '' != header.picture %}
        <div class='col-xs-6 image-overflow'>
            <img src='{{ header.picture.filePath|imagine_filter('core_large') }}' class="photo-fiche-produit">
        </div>        
        <div class='col-xs-6'>
            {% else %}
        <div class='col-xs-12'>
                {% endif %}
          {{ header.body | raw | shortcode }}
        </div>
    </div>
    </div>
</div>
<div class='row content_bloc'>
    <div class='container'>
        <div class="col-xs-12 col-md-8" style="padding-bottom: 20px;">
            {{ include('AppBundle:theme:template/_form.html.twig', {'formView': form[0], 'webForm': form[1]}) }}
            <div class="text-alternatif">
                {% if entry.metas.form.text_particulier is defined and '' != entry.metas.form.text_particulier %}
                    {{ entry.metas.form.text_particulier | raw | shortcode }}
                {% endif %}
            </div>
        </div>
        <div class="col-xs-6 col-md-4" style="padding-bottom: 20px;">
            {% set contacts = app.request.get('contacts') %}
            <div class="bloc-category  ">
                <h2 class="category" style="background-color: #286090;">{{ 'coordonnees' | trans }}</h2>
                <div class="row">                    
                    <div class="col-md-12">
                        <div class="bloc-coordonnees" >
                          {% if contacts.main_address_name -%}
                            <h6 >{{ contacts.main_address_name | trans }}</h6>
                          {%- endif %}            
                          {% if contacts.main_address -%}
                            <address id="footer__contacts__address" >{{ contacts.main_address | raw }}</address>
                          {%- endif %}
                          {% if contacts.main_phone -%}
                              <address id="footer__contacts__phone" >{% trans %}phone{% endtrans %} : {{ contacts.main_phone }}</address>
                          {%- endif %}
                          {% if contacts.main_fax -%}
                            <address id="footer__contacts__fax" >{% trans %}fax{% endtrans %} : {{ contacts.main_fax }}</address>
                          {%- endif %}
                          {% if contacts.main_email -%}
                            <address id="footer__contacts__email" >{{ contacts.main_email }}</address>
                          {%- endif %}
                          
                          {% if contacts.first_service_name -%}
                            <h6 >{{ contacts.first_service_name | trans }}</h6>
                          {%- endif %}            
                          {% if contacts.first_service_phone -%}
                              <address>{% trans %}phone{% endtrans %} : {{ contacts.first_service_phone }}</address>
                          {%- endif %}
                          {% if contacts.first_service_resp -%}
                            <address>{% trans %}fax{% endtrans %} : {{ contacts.first_service_resp }}</address>
                          {%- endif %}
                          
                          {% if contacts.second_service_name -%}
                            <h6 >{{ contacts.second_service_name | trans }}</h6>
                          {%- endif %}            
                          {% if contacts.second_service_phone -%}
                              <address>{% trans %}phone{% endtrans %} : {{ contacts.second_service_phone }}</address>
                          {%- endif %}
                          {% if contacts.second_service_resp -%}
                            <address>{% trans %}fax{% endtrans %} : {{ contacts.second_service_resp }}</address>
                          {%- endif %}
                          
                          {% if contacts.third_service_name -%}
                            <h6 >{{ contacts.third_service_name | trans }}</h6>
                          {%- endif %}            
                          {% if contacts.third_service_phone -%}
                              <address>{% trans %}phone{% endtrans %} : {{ contacts.third_service_phone }}</address>
                          {%- endif %}
                          {% if contacts.third_service_resp -%}
                            <address>{% trans %}fax{% endtrans %} : {{ contacts.third_service_resp }}</address>
                          {%- endif %}
                          
                          {% if contacts.fourth_service_name -%}
                            <h6>{{ contacts.fourth_service_name | trans }}</h6>
                          {%- endif %}            
                          {% if contacts.fourth_service_phone -%}
                              <address>{% trans %}phone{% endtrans %} : {{ contacts.fourth_service_phone }}</address>
                          {%- endif %}
                          {% if contacts.fourth_service_resp -%}
                            <address>{% trans %}fax{% endtrans %} : {{ contacts.fourth_service_resp }}</address>
                          {%- endif %}

                        </div>

                    </div>                    
                </div>
            </div>
            
        </div>
        <div class="col-xs-6 col-md-12">
            <!--google maps-->
        </div>
    </div>
</div>                
                
    
    
        
                                                            
                                                       
    