<!-- group -->
<div class='slider_bloc {% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %}bloc_tim{% endif %}'>
    <div class='container'>
        <div class="">
            <h1>{% if entry.metas.theme.page_title is defined and entry.metas.theme.page_title is not null %}{{ entry.metas.theme.page_title }}{% else %}{{ entry.title }}{% endif %}</h1>
            <nav class="breadcrumb">
                {{ 'breadcrumb'|trans }}{{ render(controller('InesThemeBundle:Menu:show', {'alias': 'main', 'renderer': 'breadcrumb'})) }}
            </nav>
            <div class='col-xs-12'>
                <div class="content">
                    {% if entry.metas.intro.picture %}<img src="{{ entry.metas.intro.picture.filePath|imagine_filter('core_moyen') }}">{% endif %}
                    {{ entry.metas.intro.body|raw|shortcode }}
                </div>
            </div>        
        </div>
    </div>
</div>

{% if entry.metas.timeline.timeline_active %}
{{ render(controller('AppBundle:Component:timeline')) }}
{% endif %}

        
<div class='content_bloc'>
    <div class='container application-container'>
        <div class="application-row">
                {% for content in entry.metas.group_content %}
                    <div class="col-md-12 bloc-category"><div class="row">
                        <h2 class="category" style="background-color: {{ content.color }};">{{ content.title }}</h2>
                    </div></div>
                    <div class="col-lg-6"><div class="row group-text">{{ content.text|shortcode|raw }}</div></div>
                    <div class="col-lg-6"><div class="row">
                        {{ include('AppBundle:theme:template/_slider_group.html.twig', {'slider': content.slider}) }}
                    </div></div>
                {% endfor %}
        </div>
    </div>
</div>