<!-- layout3 -->
<div class='row slider_bloc {% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %}bloc_tim{% endif %}'>
    <div class='container'>
            <h1>{% if entry.metas.theme.page_title is defined and entry.metas.theme.page_title is not null %}{{ entry.metas.theme.page_title }}{% else %}{{ entry.title }}{% endif %}</h1>
        <div class="row">
            <nav class="breadcrumb">
                {{ 'breadcrumb'|trans }}{{ render(controller('InesThemeBundle:Menu:show', {'alias': 'main', 'renderer': 'breadcrumb'})) }}
            </nav>
            <div class='{% if entry.metas.header_slider.advert %}col-md-8{% endif %} col-xs-12'>
                <div class="content">
                    {% if entry.metas.intro.picture %}<img src="{{ entry.metas.intro.picture.filePath|imagine_filter('core_moyen') }}">{% endif %}
                    {{ entry.metas.intro.body|raw|shortcode }}
                </div>

            </div>        
           {% if entry.metas.header_slider.advert %}
            <div class='col-md-4 hidden-sm hidden-xs'>
                {{ include('AppBundle:theme:template/_adverts.html.twig', {'entry': entry}) }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
        
{% set contents = entry.metas.content %}
{% set category = '0' %}
{% set simple_text = false %}
<div class='row content_bloc'>
    <div class='container'>
        <div class="row">
            <div class="{% if entry.metas.addon.advert or entry.metas.addon.advert_2 or entry.metas.addon.atout or 'sidebar' == entry.metas.addon.newsletter %}col-md-8{% endif %} col-xs-12">
                {% for content in contents %}
                    {% if 'category' == content.category %}
                        {% set category_size = content.size %}
                        {% if category == '1' %}</div></div>{% set category = '0' %}{% endif %}
                        <div class="{{ content.size }} bloc-{{ content.category }} {% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %} bloc-{{ content.category }}-tim{% endif %}">
                            <div class='row'>{% set category = '1' %}
                            {% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %}
                                <span class='square' style='background-color: {{ entry.metas.theme.category_color }}'></span>
                                <h2 class='{{ content.category }}' style='background-color: #000000;'>{{ content.title | upper }}</h2>
                            {% else %}
                                <h2 class='{{ content.category }}' style='background-color: {{ entry.metas.theme.category_color }};'>{{ content.title | upper }}</h2>
                            {% endif %}
                    {% endif %}
                    {% if 'simple_text' == content.category %}
                        {% if simple_text == '1' %}</div></div>{% set simple_text = '0' %}{% endif %}
                <div class="{{ content.display }}" >
                    <div class="bloc-{{ content.category }}{% if category_size is defined and 'col-md-6' == category_size %}-2{% endif %}" style='border-left: 3px solid {{ entry.metas.theme.category_color }};'>
                        <h3>{{ content.title | upper }}</h3><p>{{ content.text|raw }}</p></div><div class='row'>{% set simple_text = '1' %}
                    {% endif %}
                    {% if 'presentation' == content.category %}
                        <div class="{{ content.size }} bloc-{{ content.category }} padding-30">

                            <div class="row content-{{ content.category }}-grey"><div class="col-md-12">
                                    {% if content.picture %}<a class="fancybox" href="{{ content.picture.filePath|imagine_filter('core_large') }}" alt=""><img src="{{ content.picture.filePath|imagine_filter('thumbnail_medium') }}" style="float: {{ content.float_picture }}; 
                                     {% if 'right' == content.float_picture %}margin-right: -15px; margin-left: 15px;{% else %}margin-right: 15px; margin-left: -15px;{% endif %}
                                     "></a>{% endif %}
                                <h3>{{ content.title | upper }}</h3>

                                {{ content.text|raw }}
                            </div></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% if entry.metas.addon.advert or entry.metas.addon.advert_2 or entry.metas.addon.atout or 'sidebar' == entry.metas.addon.newsletter %}
            <div class="col-xs-12 col-md-4 addon">
                <div class="row">
                    {% if entry.metas.addon.advert %}<div class="col-xs-12">{{ include('AppBundle:theme:template/_advert.html.twig', {'entry': entry.metas.addon.advert}) }}</div>{% endif %}
                    {% if entry.metas.addon.advert_2 %}<div class="col-xs-12">{{ include('AppBundle:theme:template/_advert.html.twig', {'entry': entry.metas.addon.advert_2}) }}</div>{% endif %}
                    {% if entry.metas.addon.atout %}<div class="col-xs-12">{{ include('AppBundle:theme:template/_atout.html.twig', {'entry': entry}) }}</div>{% endif %}
                    {% if 'sidebar' == entry.metas.addon.newsletter %}<div class="col-xs-12">{{ include('AppBundle:theme:template/_newsletter.html.twig', {'entry': entry.metas}) }}</div>{% endif %}
                </div>
            </div>
        {% endif %}
        </div>
    </div>
</div>
        {% if entry.metas.addon.documentation is defined and '' != entry.metas.addon.documentation %}
<div class='row slider_bloc '>
    <div class='container'>
        <h2 class='category' style='background-color: {{ entry.metas.theme.category_color }};'>DOCUMENTATION {% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %}TIM COMPOSITES{% endif %}</h2>
        {% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %}
            {{ render(controller('AppBundle:Storage:tim')) }}
        {% else %}
            {{ render(controller('AppBundle:Storage:public')) }}
        {% endif %}
    </div>
</div>
{% endif %}