<!-- layout1 -->
<div class='row slider_bloc {% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %}bloc_tim{% endif %}'>
    <div class='container'>
            <h1>{% if entry.metas.theme.page_title is defined and entry.metas.theme.page_title is not null %}{{ entry.metas.theme.page_title }}{% else %}{{ entry.title }}{% endif %}</h1>
        <div class="row">
            <nav class="breadcrumb">
                {{ 'breadcrumb'|trans }}{{ render(controller('InesThemeBundle:Menu:show', {'alias': 'main', 'renderer': 'breadcrumb'})) }}
            </nav>
            <div class='{% if entry.metas.header_slider.advert or entry.metas.header_slider.advert_2  %}col-md-8{% endif %} col-xs-12'>
                {% if entry.metas.header_slider.slider %}
                    {{ include('AppBundle:theme:template/_slider.html.twig', {'entry': entry}) }}
                {% endif %}
            </div>        
           {% if entry.metas.header_slider.advert or entry.metas.header_slider.advert_2  %}
            <div class='col-md-4 hidden-sm hidden-xs'>
                {{ include('AppBundle:theme:template/_adverts.html.twig', {'entry': entry}) }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% set contents = entry.metas.content %}
{% set category = 0 %}
{% set presentation = 0 %}
{% set simple_text = 0 %}
<div class='row content_bloc'>
    <div class='container'>
        <div class='row'>
        <div class='col-xs-12'> 
            {% for content in contents %}
                {% if 'category' == content.category %}
                    {% set category_size = content.size %}
                    {% if category >= 1 %}</div>{% endif %}
                    {% if simple_text >= 1 %}</div></div>{% set simple_text = 0%}{% endif %}
                    {% if presentation >= 1 %}</div>{% set presentation = 0%}{% endif %}
                    {% if category == 0 %}<div class='row'>{% set category = category + 1 %}{% endif %}
                    <div class="{{ content.size }} bloc-{{ content.category }} {% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %} bloc-{{ content.category }}-tim{% endif %}">
                        {% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %}
                            <span class='square' style='background-color: {{ entry.metas.theme.category_color }}'></span>
                            <h2 class='{{ content.category }}' style='background-color: #000000;'>{{ content.title | upper }}</h2>
                        {% else %}
                            <h2 class='{{ content.category }}' style='background-color: {{ entry.metas.theme.category_color }};'>{{ content.title | upper }}</h2>
                        {% endif %}
                {% endif %}
                {% if 'simple_text' == content.category %}
                    {% if simple_text >= 1 and presentation >= 1 %}</div>{% set simple_text = 0%}{% endif %}
                    {% if presentation >= 1 %}</div>{% set presentation = 0%}{% endif %}
                    {% if simple_text == 0 %}<div class='row'>{% set simple_text = simple_text + 1 %}{% endif %}
                    <div class="{{ content.display }}" >
                        <div class="bloc-{{ content.category }}{% if category_size is defined and 'col-md-6' == category_size %}-2{% endif %}" style='border-left: 3px solid {{ entry.metas.theme.category_color }};'>
                            {% if content.title %}<h3>{{ content.title | upper }}</h3>{% endif %}
                            {{ content.text|raw }}
                            {% if content.link %}<a href="{{ content.link.url }}">{% if content.link_label  %}{{ content.link_label }}{% else %}{{ 'savoir_plus' | trans }}{% endif %}</a>{% endif %}
                        </div>
                {% endif %}
                {% if 'presentation' == content.category %}
                    {% if presentation == 0 %}<div class='row'>{% set presentation = presentation + 1 %}{% endif %}
                    <div class="{{ content.size }} bloc-{{ content.category }}">
                        <h4>
                            <span class='brand-color' style='display: inline-block; width: 15px; height: 15px; background-color: {{ content.square_color }}'></span>
                            {{ content.title }}
                        </h4>
                        <div class="content-{{ content.category }}  " style="height: {% if 'col-md-6' == content.size %}100px{% else %}200px{% endif %};">
                            {% if content.picture %}<a class="fancybox" href="{{ content.picture.filePath|imagine_filter('core_large') }}"><img src="{% if 'col-md-6' == content.size %}{{ content.picture.filePath|imagine_filter('thumbnail_small') }}{% else %}{{ content.picture.filePath|imagine_filter('thumbnail_medium') }}{% endif %}"></a>{% endif %}
                            {{ content.text|raw }}
                            {% if content.link %}<a href="{{ content.link.url }}">{% if content.link_label  %}{{ content.link_label }}{% else %}{{ 'savoir_plus' | trans }}{% endif %}</a>{% endif %}
                        </div>
                    </div>
                {% endif %}    
            {% endfor %}
            {% if simple_text >= 1 %}</div>{% set simple_text = 0%}{% endif %}
            {% if presentation >= 1 %}</div>{% set presentation = 0%}{% endif %}
            {% if category >= 1 %}</div>{% set category = 0%}{% endif %}
        </div>
        </div>
    </div>
</div>
    </div>
</div>
    
{% if entry.metas.references.reference is defined and '' != entry.metas.references.reference %}
<div class='row slider_bloc '>
    <div class='container'>
    {{ include('AppBundle:theme:template/_references.html.twig', {'entry': entry}) }}
    </div>
</div>
{% endif %}


