<!-- page produit -->
<div class='row slider_bloc {% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %}bloc_tim{% endif %}'>
    <div class='container'>
            <h1>{% if entry.metas.theme.page_title is defined and entry.metas.theme.page_title is not null %}{{ entry.metas.theme.page_title }}{% else %}{{ entry.title }}{% endif %}</h1>
        <div class="row">
            <nav class="breadcrumb">
                {{ 'breadcrumb'|trans }}{{ render(controller('InesThemeBundle:Menu:show', {'alias': 'main', 'renderer': 'breadcrumb'})) }}
            </nav>
            <div class='{% if entry.metas.header_slider.advert or entry.metas.header_slider.advert_2 %}col-md-8{% endif %} col-xs-12'>
                <div class="content">
                    {% if entry.metas.intro.picture %}<img src="{{ entry.metas.intro.picture.filePath|imagine_filter('core_moyen') }}">{% endif %}
                    {{ entry.metas.intro.body|raw|shortcode }}
                </div>

            </div>        
           {% if entry.metas.header_slider.advert or entry.metas.header_slider.advert_2  %}
            <div class='col-md-4 hidden-sm hidden-xs'>
                {{ include('AppBundle:theme:template/_adverts.html.twig', {'entry': entry}) }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
        
<div class='row content_bloc'>
    <div class='container application-container'>
        <div class="row application-row">
            <div class="col-md-8 application-col" style="background-color: #CCC;">
                <div class="row bloc-fiche-produit">
                    {% if '' != entry.metas.applications.applications %}
                        <div class="col-md-5">
                            <h3>{{ 'applications'|trans | upper }}</h3>
                            <ul class="liste-application">
                            {% for application in entry.metas.applications.applications %}
                                <li><embed type="image/svg+xml" src="{{ asset('bundles/app/img/' ~ application.metas.application.category ~ '.svg') }}" class="appliSvg" data-fill="{{ entry.metas.theme.category_color }}">{{ application.metas.application.libelle }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="{% if '' != entry.metas.applications.applications %}col-md-7{% else %}col-md-12{% endif %}">
                    {% if '' != entry.metas.center_content.text %}
                        {{ entry.metas.center_content.text | raw | shortcode }}
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 bloc-droite application-col">
                <h3>{{ entry.metas.right_content.title | upper }}</h3>
                <p style=" margin-top: 0;">{{ entry.metas.right_content.legend }}</p>
                {% if entry.metas.right_content.picture %}
                <a class="fancybox" href="{{ entry.metas.right_content.picture.filePath }}"><img src="{{ entry.metas.right_content.picture.filePath|imagine_filter('core_large') }}" style="width: 100%"></a>
                {% endif %}
                {{ entry.metas.right_content.text | raw }}
            </div>
        </div>
    </div>
</div>