{% extends 'AppBundle::base.html.twig' %}

{% block main %}
    <div class="container" style="height: 90%;">
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
    </div>
{% endblock %}