<div class="footer" id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-6 col-md-2 col-sm-3">
                        {{ render(controller('InesThemeBundle:Menu:show', {'alias': 'footer', 'attributes': {'class': 'list-unstyled'} })) }}
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3">
                        {{ render(controller('InesThemeBundle:Menu:show', {'alias': 'habitat', 'renderer': 'isosta_footer', 'attributes': {'class': 'list-unstyled'} })) }}
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3">
                        {{ render(controller('InesThemeBundle:Menu:show', {'alias': 'batiment', 'renderer': 'isosta_footer', 'attributes': {'class': 'list-unstyled'} })) }}
                    </div>
                    <div class="col-xs-6 col-md-2 col-sm-3">
                        {{ render(controller('InesThemeBundle:Menu:show', {'alias': 'industrie', 'renderer': 'isosta_footer', 'attributes': {'class': 'list-unstyled'} })) }}
                    </div>
                    <div class="col-xs-12 col-md-4" style="text-align: right">
                        <a href="#"><h1 class="out">Groupe ISOSTA</h1>
                        <img src="{{ asset('bundles/app/img/logo-isosta-blanc.png') }}" alt="logo Groupe ISOSTA" /></a>
                        {{ render(controller('InesThemeBundle:Menu:show', {'alias': 'mentions', 'attributes': {'class': 'list-unstyled'} })) }}
                        <p class="text text-right" style="color: #ffffff;">&copy; 2015 Groupe ISOSTA - {{ 'right' | trans }}</p>
                    </div>
               </div>
            </div>

        </div></div>

    <!--/.container--> 
</div>
