<nav role="nav" class="navbar navbar-default">
    <div class="menu-container">
        <div class="col-xs-12">
            <div class="row ">
                <div class="col-xs-12 onglet-recherche">

                    <a class="btn btn-primary btn-login" href="{{ path('site_storage') }}">{{ 'espace_pro' | trans }}</a>
                    {% if is_granted('ROLE_STORAGE') %}
                        <a class="btn btn-default" href="{{ path('storage_logout') }}">{{ 'deco' | trans }} {{ app.user.username }}</a>
                    {% endif %}<!--a href="#" class="btn btn-primary" alt="">
                        Accéder à l'espace ISOSTA PRO >
                    </a-->
               
                    <form method="get" action="{{ path('ines_theme_search_index') }}" class="form-inline form-search" role="search" style='float: right; margin-left: 20px;'>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="{% trans %}Rechercher{% endtrans %}&hellip;" name="query" id="query" value="{{ app.request.query.get('query') }}">
                        </div>
                        <button type="submit" class="btn btn-default">
                          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </form>
                                      
                </div>
                <div class="col-xs-12" style="min-height: 80px;">
                    <div class="col-xs-3 col-sm-2">
                        {# Logo DalaAlu #}
                        <a class="navbar-brand" href="{{ url_homepage() }}">
                            <h1 class="out">Site Groupe Isosta</h1>
                            {% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %}
                                <img src="{{ asset('bundles/app/img/logo-tim.png') }}" alt="logo tim composites" />
                            {% else %}
                                <img src="{{ asset('bundles/app/img/logo-isosta.png') }}" alt="logo du groupe Isosta" />
                            {% endif %}
                        </a>
                    </div>

                    <div class="col-xs-offset-6 col-xs-3 hidden-sm hidden-md hidden-lg">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false" aria-controls="navbar" style="margin-top: 30px;">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <div class="row">
                            <nav id="main-navbar" class="navbar-collapse collapse menu navbar">
                            {% if entry.metas.security.tim is defined and '' != entry.metas.security.tim %}
                                {{ render(controller('InesThemeBundle:Menu:show', {'alias': 'tim-composites', 'renderer': 'isosta'})) }}
                                <ul class="nav navbar-nav langue-liste">
                                    <li class="language">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="{% trans %}Version {% endtrans %}">
                                            <img src="{{ asset('bundles/app/img/') }}drapeau-{{ app.request.locale }}.png" alt="{% trans %}Drapeau {% endtrans %}" width="25" height="15"/><span class="caret"></span>
                                        </a>
                                        {{ render(controller('InesThemeBundle:Menu:show', {'alias': 'langues-tim', 'attributes': {'class': 'language dropdown-menu'} })) }}
                                    </li>
                                </ul>
                            {% else %}
                                {{ render(controller('InesThemeBundle:Menu:show', {'alias': 'main', 'renderer': 'isosta'})) }}
                                <ul class="nav navbar-nav langue-liste">
                                    <li class="language">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="{% trans %}Version {% endtrans %}">
                                            <img src="{{ asset('bundles/app/img/') }}drapeau-{{ app.request.locale }}.png" alt="{% trans %}Drapeau {% endtrans %}" width="25" height="15"/><span class="caret"></span>
                                        </a>
                                        {{ render(controller('InesThemeBundle:Menu:show', {'alias': 'langues', 'attributes': {'class': 'language dropdown-menu'} })) }}
                                    </li>
                                </ul>
                            {% endif %}
                            </nav>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>

</nav>
                    
