<div class="footer-bottom">
    <div class="container-fluid pied">
        <div class="row">
            <div class="col-md-10 col-xs-6">
                <div class="pull-right">
                    <span class="text text-right">&copy; 2015 Groupe ISOSTA - {{ 'right' | trans }}</span>
                </div>
                {% set contacts = app.request.get('contacts') %}
                <div id="legal__social-networks">
                    {% if contacts.facebook -%}
                        <a id="legal__social-networks__facebook" href="{{ contacts.facebook }}" >facebook</a>
                    {%- endif %}
                    {% if contacts.twitter -%}
                        <a id="legal__social-networks__twitter" href="{{ contacts.twitter }}" >twitter</a>
                    {%- endif %}
                    {% if contacts.google -%}
                        <a id="legal__social-networks__google" href="{{ contacts.google }}" >google+</a>
                    {%- endif %}
                </div>
            </div>
             <div class="col-md-2 col-xs-6">
                <a href="#"><h1 class="out">Site DAL'ALU</h1>
                    <img src="{{ dalalu_img }}logo-isosta-blanc.png" alt="logo DAL'ALU" /></a>
                <span  class="text text-left">Copyright © 1982 - 2015 DAL'ALU. {{ 'right' | trans }}</span>
            </div>
       </div>
    </div>
</div>      