{% extends 'AppBundle::base.html.twig' %}

{% block main %}
    
    
    
    
    NOT USE
    
    
    
    
    <div class="container"><p>Inscription :</p>
    {{ form_start(form) }}
        <div class="col-xs-6">{{ form_widget(form) }}</div>
        <div class="col-xs-12">
            <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    {{ form_end(form) }}
    </div>
{% endblock %}