{% trans_default_domain 'InesCoreBundle' %}

{{ form_widget(form._token) }}

{{ form_errors(form) }}

<div class="row">
  <div class="col-md-8">
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}

    {% if form.enabled is defined %}
      {{ form_widget(form.enabled) }}
    {% endif %}

    {% if form.roles is defined %}

    <h5><strong>Rôles attribués</strong></h5>

      <div class="row">
        <div class="col-md-6">
          {% for form in form.roles if unmatch(form.vars['value'], ['_EDITOR', '_AUTHOR', '_CONTRIBUTOR', '_STORAGE']) %}
            <div class="checkbox">
              <label>
                {{ form_widget(form) }} {{ form.vars['label']|trans }}
              </label>
            </div>
          {% endfor %}
        </div>
        <div class="col-md-6">
          {% for form in form.roles if match(form.vars['value'], ['_EDITOR']) %}
            <div class="checkbox">
              <label>
                {{ form_widget(form) }} {{ form.vars['label']|trans }}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          {% for form in form.roles if match(form.vars['value'], ['_AUTHOR']) %}
            <div class="checkbox">
              <label>
                {{ form_widget(form) }} {{ form.vars['label']|trans }}
              </label>
            </div>
          {% endfor %}
        </div>
        <div class="col-md-6">
          {% for form in form.roles if match(form.vars['value'], ['_CONTRIBUTOR']) %}
            <div class="checkbox">
              <label>
                {{ form_widget(form) }} {{ form.vars['label']|trans }}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          {% for form in form.roles if match(form.vars['value'], ['_STORAGE']) %}
            <div class="checkbox">
              <label>
                {{ form_widget(form) }} {{ form.vars['label']|trans }}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>

    {% endif %}
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Actions</div>
      <div class="panel-body">
        <button type="submit" class="btn btn-primary btn-block">
          Enregistrer
        </button>
      </div>
    </div>
  </div>
</div>


