@mixin margin-bottom($size) {
    margin-bottom: $baseLineheight / $size + 0em;
}
 
@mixin margin($size) {
    margin: $baseLineheight / $size + 0em 0;
}
 
@mixin margin-top($size) {
    margin-top: $baseLineheight / $size + 0em;
}
 
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flexbox;
    display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
}

@mixin font-size($size, $addline: 0) {
    font-size: $size / $baseFontSize + 0em;
    line-height: (ceil($size / $baseLineheight) + $addline)* $baseLineheight / $size;
}
