// colors
$c-black: #222;

$main-color: #fff;
$nav-color: #333;
$nav-link-color: #989898;
$nav-link-color-hover: #fff;
$white: #fff;
$text-color: #000;
$grey-footer: #bbbbbb;
$red: #ee3224;
$navbar-inverse-bg: #e0e0e0;
$navbar-inverse-brand-hover-bg: #e0e0e0;
$navbar-inverse-brand-color: $nav-color;
$navbar-inverse-brand-hover-color: $red;

$baseFontSize: 20!default;
$baseTitleSize: 20!default;
$baseFontFamily: 'Didact Gothic', sans-serif;
$headingsFontFamily: Futura, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif!default;

$baseline-ratio: 1.5!default;
 
$baseLineheight: $baseTitleSize * $baseline-ratio;
$lineheight-em: $baseLineheight + 0em;
$marginleft: $lineheight-em;

$h1Size: ($baseTitleSize+8)!default;
$h1Addline: 0!default;
 
$h2Size: ($baseTitleSize+6)!default;
$h2Addline: 0!default;
 
$h3Size: ($baseTitleSize+3)!default;
$h3Addline: 0!default;
 
$h4Size: ($baseTitleSize+2)!default;
$h4Addline: 0!default;
 
$h5Size: ($baseTitleSize+1)!default;
$h5Addline: 0!default;
 
$h6Size: $baseTitleSize!default;
$h6Addline: 0!default;

$btn-primary-bg: $red; 