// Variables globales
@import "variables";
@import "overrides";

// Librairies externes
@import "web/vendor/bootstrap-sass-official/assets/stylesheets/bootstrap";

// Generic
@import "typo";
@import "layout";

//Components
@import "components/nav";
@import 'mixins'; 
@import "components/bloc";
@import "components/timeline";
// ...
 
@media screen and (max-width:992px) {
    html {
        font-size:13px;
    }
    .frise_petit {
        display: block;
    }
    .frise_moyen {
        display: none;
    }
    .frise_grand {
        display: none;
    }
    .padding-frise, .padding-frise-small {
        padding-right: 40px!important;
    }
    .content , .timeline{
        padding: 0 40px!important;
    }
    .container {
        padding-right: 40px;
    }
    .product-line {
        .bloc-left, .bloc-right {
            height: 400px;
        }
    }
    .product-lines-link {
        height: 400px;
    }
    .block__1-2 {
        height: 300px;
    }
    .block__text {
        padding-right: 40px;
    }
    .block-title {
        right: 40px;
    }
    .bloc-top {
        p, h1, h2, h3, h4, h5, h6, ul {
            padding: 0 45px;
        }
    }
    ul.submenu-navbar-nav {
        position: static;
    }
    ul.submenu-navbar-nav li {
        float: none;
    }
}
@media screen and (min-width:992px) and (max-width:1200px) {
    html {
        font-size:14px;
    }
    .frise_petit {
        display: none;
    }
    .frise_moyen {
        display: block;
    }
    .frise_grand {
        display: none;
    }
    .padding-frise {
        padding-right: 60px!important;
    }
    .content , .timeline {
        padding: 0 60px!important;
    }
    .product-line {
        .bloc-left, .bloc-right {
            height: 500px;
        }
    }
    .product-lines-link {
        height: 500px;
    }
    .block__1-2 {
        height: 450px;
    }
    .block__text {
        padding-right: 60px;
    }
    .block-title {
        right: 60px;
    }
    .bloc-top {
        p, h1, h2, h3, h4, h5, h6, ul {
            padding: 0 60p;
        }
    }
}       
@media screen and (min-width:1200px) {
    html {
        font-size:16px;
    }
    .frise_petit {
        display: none;
    }
    .frise_moyen {
        display: none;
    }
    .frise_grand {
        display: block;
    }
    .padding-frise {
        padding-right: 80px!important;
    }
    .content , .timeline {
        padding: 0 80px!important;
    }
    .carte_reseau > img {
        max-width: 100px !important;
    }
    .carousel {
        max-height: 80%;
        overflow: hidden;
    }
    .product-line {
        .bloc-left, .bloc-right {
            height: 600px;
        }
    }
    .product-lines-link {
        height: 600px;
    }
    .block__1-2 {
        height: 500px;
    }
    .block-title {
        right: 80px;
    }
    .bloc-top {
        p, h1, h2, h3, h4, h5, h6, ul {
            padding: 0 80px;
            max-width: 1500px;
        }
    }
} 




/******************************************************************************
    GENERAL
******************************************************************************/
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
}
body {
    font-family: $baseFontFamily;
    font-size: percentage($baseFontSize / 16);
    line-height: $baseline-ratio;
    background: $main-color; 
    text-emphasis: 1px bold;
    padding-top: 70px;
    height: 100%;
}
p {
    @include margin($baseFontSize);
    hyphenate: auto;
    hyphenate-lines: 3;
}
.out {
    position: absolute;
    left: -5000px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $headingsFontFamily;
}
h1 {
    @include font-size($h1Size,$h1Addline);
    @include margin-bottom($h1Size);
    @include margin-top($h1Size/2);
}
h2 {
    @include font-size($h2Size,$h2Addline);
    @include margin-bottom($h2Size);
    @include margin-top($h2Size/2);
}
h3 {
    @include font-size($h3Size,$h3Addline);
    @include margin-bottom($h3Size);
    @include margin-top($h3Size/2);
}
h4 {
    @include font-size($h4Size,$h4Addline);
    @include margin-bottom($h4Size);
    @include margin-top($h4Size/2);
}
h5 {
    @include font-size($h5Size,$h5Addline);
    @include margin-bottom($h5Size);
    @include margin-top($h5Size/2);
}
blockquote h1 {
    margin-bottom: 0;
}
blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote h6 {
    margin-top: 0;
}
.footer-title {
        margin-top: 0;
    }
h6 {
    @include font-size($h6Size,$h6Addline);
    @include margin-bottom($h6Size);
    @include margin-top($h6Size/2);
}
.frise {
    position: fixed;
    top: 0;
    right: 0;
    
    z-index: 990;
}
.content {
    padding: 0 10%;
}
  
/******************************************************************************
    HEADER
******************************************************************************/
li.language > a {
    padding: 10px 0;
}
.navbar {
    margin-bottom: 0;
    padding: 10px 0;
}
.navbar-brand {
    padding: 0;
    height: 40px;
}
.navbar-default {
    background-color: $nav-color;
    //padding-top: 5px;
}
.navbar-inversed {
    background-color: $navbar-inverse-bg;
    //padding-top: 5px;
}
.navbar-header {
    padding: 3px 20px;
}
#main-navbar, #navbar {
    ul {
        li {
            a {
                color: $nav-link-color;
                text-transform: uppercase;
                font-size: .75em;
                border-left: 1px $nav-link-color solid;
                padding: 0 15px;
                margin: 15px 0;
            }
            a:hover, a:focus {
                color: $nav-link-color-hover;
                background-color: transparent;
            }
        }
        li.active, li.current {
            a {
                color: $nav-link-color-hover;
                background-color: transparent;
            }
        }
        li:nth-child(1) a {
            border-left: none;
        }
        li.language {
            a {
                margin: 5px 0;
                padding: 0 5px;
            }
        }
        li.open {
            background-color: $nav-color;
            a {
                background-color: $nav-color;
            }
        }
    }
}
#submenu {
    ul {
        li {
            a {
                color: $navbar-inverse-brand-color;
                font-weight: bold;
                font-size: .7em;
                padding: 0 15px;
                margin: 15px 0;
            }
            a:hover, a:focus {
                color: $navbar-inverse-brand-hover-color;
                background-color: transparent;
            }
        }
        li.active, li.current {
            a {
                color: $navbar-inverse-brand-hover-color;
                background-color: transparent;
            }
        }
    }
}
#submenu-title {
    margin: 0.5em;
    color: $red;
    padding: 0;
    position: absolute;
    border: 0;
}
.submenu {
    z-index: 995;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    top: 75px;
    min-height: 55px;
}
.submenu-padding {
    //padding-top: 55px;
}

.btn-white {
    color: $nav-link-color;
    line-height: 2.2em;
}
.btn-white:hover, .btn-white:focus {
    color: $white;
}
.btn-lg {
    border-radius: 0;
}
#navbar > .btn {
    padding: 6px;
}
navbar-fixed-top {
    z-index: 1000;
}
.navbar-fixed-top {
    min-height: 75px;
}
.active {
    a {
        color: $white;
    }
}
.dropdown-menu {
    min-width: 10px;
    background-color: $nav-color;
    right: 0!important;
    left: 0!important;
    border: none;
}
.text-right {
    text-align: right;
}
.navbar-right {
    margin: 5px 0 0 0;
}


/******************************************************************************
    CAROUSEL
******************************************************************************/
.carousel {
    width: 100%
}
.carousel-inner  {
    height: 100%;
    &> .item {
        height: 100%;
    }
}
    
.container-fluid {
    margin-top: 20px;
}
.carousel-caption {
    top: 25%;
    height: 50%;
    background-color: $white;
    width: 40%;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    color: $text-color;
    text-shadow: none;
    padding: 20px 40px;
    text-align: center;
    //    font-size: 20px; 
    z-index: 1000;
    @include flexbox();
}
.carousel-indicators  {
    li {
        border: 1px solid $red;
    }
    .active {
        background-color: $red;
    }
}
div.bloc { 
    -webkit-align-self: center; /* Safari 7.0+ */
    align-self: center;
    text-align: center;
    width: 100%;
    padding: 0 25px;
}
.gauche > .link {
    position: absolute;
    right: 10%;
    bottom: 10%;
    a {
        color: $text-color;
        font-size: 0.8em;
    }
}
.droite > .link {
    position: absolute;
    left: 10%;
    bottom: 10%;
    a {
        color: $text-color;
        font-size: 0.8em;
    }
}

.slider_text_left, .gauche {
    left: 0!important;
    .bloc h3 {
        text-align: right;
    }
}
.slider_text_right, .droite {
    right: 0!important;
    left: 60%;
    .bloc h3 {
        text-align: left;
    }
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
}
.carousel-control {
    color: $red !important;
    z-index: 1001;
}
.carousel-control:hover {
    color: $red;
}

.modal-dialog {
    width: 300px;
}
.modal-footer {
    height: 70px;
    margin: 0;
}
.modal-footer .btn {
    font-weight: bold;
}
.modal-footer .progress {
    display: none;
    height: 32px;
    margin: 0;
}
.input-group-addon {
    color: #fff;
    background: #3276B1;
}

.pied {
    margin-top: 0;
    .row {
        line-height: 45px;
    }
}


/******************************************************************************
    LISTE
******************************************************************************/
.bloc-liste {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 80%;
    margin-bottom: 2px;
    @include flexbox();
    img {
        width: 100%;
        //height: 100%;
        -webkit-align-self: center;
        align-self: center;
        text-align: center;
    }
    .bloc-33 {
        position: absolute;
//        width: 33%;
        height: 100%;
        background-color: #fff;
    }
    .bloc-right {
        position: absolute;
//        width: 33%;
        height: 100%;
        top: 0;
        right: 0;
        > .link {
            position: absolute;
            left: 5%;
            bottom: 5%;
            a {
                color: $text-color;
                font-size: 0.8em;
            }
        }
        .bloc h3 {
            text-align: left;
        }
    }
    .bloc-left {
        position: absolute;
//        width: 33%;
        height: 100%;
        top: 0;
        left: 0;
        > .link {
            position: absolute;
            right: 5%;
            bottom: 5%;
            a {
                color: $text-color;
                font-size: 0.8em;
            }
        }
        .bloc h3 {
            text-align: right;
        }
    }
    .opacity-50 {
        opacity: 0.5;
    }
    .opacity-60 {
        opacity: 0.6;
    }
    .opacity-70 {
        opacity: 0.7;
    }
    .opacity-80 {
        opacity: 0.8;
    }
    .opacity-90 {
        opacity: 0.9;
    }
    .flex {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flexbox;
        display: flex;
    }
}

.bloc-list {
    width: 100%;
    position: relative;
    overflow: hidden;
    max-height: 80%; 
    margin-bottom: 10px;
    @include flexbox();
    img {
        width: 100%;
        //height: 100%;
        -webkit-align-self: center;
        align-self: center;
        text-align: center;
    }
    .bloc-right {
        position: absolute;
//        width: 33%;
        height: 100%;
        top: 0;
        right: 0;
        > .link {
            position: absolute;
            left: 5%;
            bottom: 5%;
            a {
                color: $text-color;
                font-size: 0.8em;
            }
        }
        .bloc h3 {
            text-align: left;
        }
    }
    .bloc-left {
        position: absolute;
//        width: 33%;
        height: 100%;
        top: 0;
        left: 0;
        > .link {
            position: absolute;
            right: 5%;
            bottom: 5%;
            a {
                color: $text-color;
                font-size: 0.8em;
            }
        }
        .bloc h3 {
            text-align: right;
        }
    }
    .opacity-50 {
        opacity: 0.5;
    }
    .opacity-60 {
        opacity: 0.6;
    }
    .opacity-70 {
        opacity: 0.7;
    }
    .opacity-80 {
        opacity: 0.8;
    }
    .opacity-90 {
        opacity: 0.9;
    }
    .flex {
        @include flexbox();
    }
}
.bloc {
//    padding: 5%;
//    background-color: #fff;
    > p {
        text-align: justify;
    }
}

/******************************************************************************
    FOOTER
******************************************************************************/
footer {
    background-color: $nav-color;
    color: $grey-footer;
    border-top: 1px solid $white;
    position: relative;
    z-index: 1000;
    h3 {
        margin-top: 0;
    }
    ul {
        li {
            a, a:hover, a:focus  {
                color: $grey-footer;
                //font-size: 12px;
            }
        }
    }
    address {
        color: $white;
        strong {
            color: $red;
        }
    }
    p, a {
        font-size: 0.8em;
        line-height: 1em;
    }
}
.footer-bottom {
    border-top: 1px $white solid;
    margin-top: 20px;
    padding-bottom: 50px;
    .text {
        font-size: 0.7em;
    }
}

.gauche 
.droite > .link {
    position: absolute;
    left: 10%;
    bottom: 10%;
    a {
        color: $text-color;
    }
}
address {
    font-size: 0.8em;
}

.carte_reseau > img {
    width: 50%;
}


.content {
    margin: 2px 0;
}








.red {
    color: $red;
}




.slider-img {
    padding: 0;
    @include flexbox();
    &> img {
        -webkit-align-self: center; /* Safari 7.0+ */
        align-self: center;
        text-align: center;
        width: 100%; 
    }
}

.bloc-right, .bloc-left {
    height: 100%;
}
.opacity-50 {
        opacity: 0.5;
    }
    .opacity-60 {
        opacity: 0.6;
    }
    .opacity-70 {
        opacity: 0.7;
    }
    .opacity-80 {
        background-color: rgba(255, 255, 255, 0.5);
    }
    .opacity-90 {
        opacity: 0.9;
    }
.flex {
    @include flexbox();
}





.bloc-left, .bloc-right {
    padding: 0;
}

.product-lines-item {
    margin-bottom: 10px;
}
.product-line {
    margin: 0;
    .bloc-left, .bloc-right {
        .flex {
            height: 100%;
            padding: 0 15px;
        }
    }
}
.alignleft {
    float: left;
}
figcaption {
    font-size: 0.8em;
    color: #dddddd;
    font-style: italic;
    text-align: center;
}
.content .alignleft {
    margin-right: 30px;
}
.alignright {
    float: right;
}
.content .alignright {
    margin-left: 30px;
}
.block__text {
    padding: 80px 20px;
}
.btn-backward {
    .glyphicon {
        font-size: 1em;
        line-height: 2em;
    }
    margin: 0!important;
    color: $navbar-inverse-brand-color;
    padding: 15px 0 0 0;
}
.submenu-title {
    font-size: 1em;
    line-height: 2.3em;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}
.margin {
    margin-top: 70px;
}
.bloc-50 {
    height: 100%;
    border: 1px solid #ffffff;
    padding: 0;
}
.submenu-navbar-nav {
    text-align: right;
    position: absolute;
    right: 0px;
    li {
        float: left;
    }
    a {
        padding: 0 15px;
        color: $navbar-inverse-brand-color;
        font-size: 0.75em;
        font-weight: bold;
        &:hover, &:focus {
            color: $navbar-inverse-brand-hover-color;
            text-decoration: none;
        }
    }
}
a.active {
    color: $red;
}

.block-title {
    position: absolute;
    z-index: 990 !important;
}
.block__picture {
    height: 80%;
    overflow: hidden;
}
.img-responsive {
    width: 100%;
}

h3.date {
    text-align: center;
}

div.module.parallaxe {
    height: 80%;
    background-repeat: no-repeat;
    //background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}





.circular-bar{
  text-align: center;
  .circular-bar-content{
    margin-bottom: 20px;
    margin-top: -85px;
    text-align: center;
    strong{
      display: block;
      font-weight: 600;
      font-size: 1.8em;
    }
  }
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 93%;
}

sup {
    font-size: 60% !important;
}


.form-horizontal {
    font-size: 0.8em;
}
.captcha{
    text-align: center;
}
.captcha img {
    margin: 10px 0;
}