{% extends 'AppBundle::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        (function() {

            console.log('GA - Start storage')

            //ga('create', '{#{ site.site.storage.ga.id }#}', 'auto', {'name': 'storage'})

            var links = document.getElementsByClassName('storage-file');

            Array.prototype.forEach.call(links, (function(element){
                addListener(element, 'click', clickHandler);
            }));

            function clickHandler() {
                ga('storage.send', 'event', 'storage', 'click', this.getAttribute('data-path'));
            }

            function addListener(element, type, callback) {
                if (element.addEventListener) element.addEventListener(type, callback);
                else if (element.attachEvent) element.attachEvent('on' + type, callback);
            }
        })();
    </script>
    
{% endblock %}

{% block main %}
    <div class='row slider_bloc padding-50'>
        <div class='container'>
            <div class="col-sm-12">
                <h1>{{ 'storage' | trans | upper }} <span class="glyphicon glyphicon-stop glyph-habitat"></span> <span class="glyphicon glyphicon-stop glyph-batiment"></span> <span class="glyphicon glyph-industrie glyphicon-stop"></span></h1>
            </div>
            <div class='col-xs-8'>
                {{ render(controller('AppBundle:Storage:slider')) }}
            </div>
            <div class='col-xs-4'>
                {{ render(controller('AppBundle:Storage:advert')) }}
            </div>
        </div>
    </div>
    <div class='row content_bloc'>
        <div class="container">
            <div class="col-sm-12 espace-documentaire">
                {% if folders | length %}
                    {% for langue, langues in folders%}
                        {{ langue | trans }}
                  {% for key, subfolder in langues%}  
                      <div class="row {{ key }} documents">
                        {% set principalfolder =  langue ~'-'~ key %}
                          <h3 class="panel-default" id="dropdown">
                              <a data-toggle="collapse" href="#dropdown-{{ langue }}-{{ key }}" aria-expanded="false" class="collapsed">{{ key | upper }}<span class="caret"></span></a>
                          </h3>
                          <div id="dropdown-{{ langue }}-{{ key }}" class="panel-collapse collapse" aria-expanded="false">
                                {{ _self.firsttree(subfolder, principalfolder) }}
                          </div>
                    </div>
                  {% endfor %}
                    {% endfor %}
                {% else %}
                   <p>{{ 'doc_indispo' | trans }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    

{% endblock %}


{% macro firsttree(folders, principalfolder) %}
    {% set count = 0 %}
    {% for key, child in folders%}
        {% set count = count + 1 %}
        {% if child is iterable %}
            
            <div class="col-xs-6 col-lg-4 dossier">
                <h4><span class="glyphicon glyphicon-stop" style="font-size: 15px;"></span>{{ key | upper }}</h4>
                <div class="panel-body">
                <ul class="nav">
                    {{ _self.tree(child, key, principalfolder) }}
                </ul>
                </div>
            </div>
        {% else %}
            {{ _self.file(child) }}
        {% endif %}
        {% if count is divisibleby(3) %}<div class="clearfix visible-lg"></div>{% endif %}
        {% if count is divisibleby(2) %}<div class="clearfix visible-xs visible-sm visible-md"></div>{% endif %}
    {% endfor %}
{% endmacro %}

{% macro tree(folders, father, principalfolder) %}
    {% for key, child in folders%}
        {% if child is iterable %}
            {{ _self.folder(key, child, father, principalfolder) }}
        {% else %}
            {{ _self.file(child) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro folder(label, folder, father, principalfolder) %}
<li  class="tree-folder" id="dropdown">
    <a class="storage-folder collapsed" data-toggle="collapse" href="#dropdown-{{ principalfolder | replace({' ':''}) | lower  }}-{{ father | replace({' ':''}) | lower  }}-{{ label | replace({' ':''}) | lower  }}" aria-expanded="false">{{ label | upper }}<span class="caret"></span></a>
    <div id="dropdown-{{ principalfolder | replace({' ':''}) | lower  }}-{{ father | replace({' ':''}) | lower  }}-{{ label | replace({' ':''})  | lower }}" class="panel-collapse collapse" aria-expanded="false">
        {% set principalfolder = principalfolder~'-'~father %}
        <div class="panel-body"><ul class="nav"> {{ _self.tree(folder, label, principalfolder) }} </ul></div>
    </div>
    
</li>
{% endmacro %}

{% macro file(file) %}
<li class="tree-file files">
    <a target="_blank" class="storage-file" data-path="{{ file.relativepathname }}" href="{{ path('site_storage_file', {'path': file.relativepathname | url_encode }) }}">{{ file.filename }}</a>
</li>
{% endmacro %}