<div class="panel-default-login ">
  <div class="panel-heading">ISOSTA PRO</div>
  <div class="panel-body panel-login">
<form action="{{ path("storage_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div class="form-group">
        <div class="col-md-12"><label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label></div>
        <div class="col-md-12"><input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /></div>
    </div>
    <div class="form-group">
        <div class="col-md-12"><label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label></div>
        <div class="col-md-12"><input type="password" id="password" name="_password" required="required" /></div>
    </div>
    <div class="form-group">
        <div class="col-md-2"><input type="checkbox" id="remember_me" name="_remember_me" value="on" /></div>
        <div class="col-md-10"><label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label></div>
    </div>
    <input type="hidden" name="_target_path" value="pro_index" />
    <div class="form-group">
        <div class="col-md-12"><input type="submit" id="_submit" name="_submit" class="btn btn-login-isosta btn-block btn-lg" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" /></div>
    </div>
</form>
  </div>
</div>