{% extends "AppBundle::base.html.twig" %}

{% block main %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<div class="col-xs-4 col-xs-push-4" style="margin-top: 30px;">
{{ include('AppBundle:Storage:login_light.html.twig') }}
</div>
{% endblock %}
