    <div class="espace-documentaire">
        {% if folders | length %}
            {% if 'TIM' == template %}
                {% set dossier = folders[app.request.locale]['public']['batiment']['TIM Composites'] %}
            {% else %}
                {% set dossier = folders[app.request.locale]['public'] %}
            {% endif %}
            
            <div class="row public documents-public">
                {{ _self.firsttree(dossier, 'public') }}
            </div>
        {% else %}
           <p>{{ 'doc_indispo' | trans }}</p>
        {% endif %}
    </div>

{% macro firsttree(folders, principalfolder) %}
    {% for key, child in folders%}
        {% if child is iterable %}
            
            <div class="col-md-4 dossier">
                <h4>{{ key | upper }}</h4>
                <div class="panel-body">
                <ul class="nav">
                    {{ _self.tree(child, key, principalfolder) }}
                </ul>
                </div>
            </div>
        {% else %}
            {{ _self.file(child) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro tree(folders, father, principalfolder) %}
    {% for key, child in folders%}
        {% if child is iterable %}
            {{ _self.folder(key, child, father, principalfolder) }}
        {% else %}
            {{ _self.file(child) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro folder(label, folder, father, principalfolder) %}
<li  class="tree-folder" id="dropdown">
    <a class="storage-folder collapsed" data-toggle="collapse" href="#dropdown-{{ principalfolder | replace({' ':'-'})  }}-{{ father | replace({' ':'-'})  }}-{{ label | replace({' ':'-'})  }}" aria-expanded="false">{{ label | upper }}<span class="caret"></span></a>
    <div id="dropdown-{{ principalfolder | replace({' ':'-'})  }}-{{ father | replace({' ':'-'})  }}-{{ label | replace({' ':'-'})  }}" class="panel-collapse collapse" aria-expanded="false">
        <div class="panel-body"><ul class="nav"> {{ _self.tree(folder, label, principalfolder) }} </ul></div>
    </div>
    
</li>
{% endmacro %}

{% macro file(file) %}
<li class="tree-file files">
    <a target="_blank" class="storage-file" data-path="{{ file.relativepathname }}" href="{{ path('site_storage_file', {'path': file.relativepathname | url_encode }) }}">{{ file.filename }}</a>
</li>
{% endmacro %}