{% extends 'InesCoreBundle::layout.html.twig' %}

{% trans_default_domain 'InesCoreBundle' %}

{% block breadcrumb_inner %}
  <li class="active">{{ 'storage.title'|trans }}</li>
{% endblock %}

{% block container -%}

    <div class="list-actions">
      <div class="list-actions-inner">
        <h2 class="list-header">{{ 'storage.title'|trans }}</h2>
      </div>
    </div>

    <div class="content-main">
        <div class="row">
            <div class="col-sm-12">
                <a href="{{ path('site_admin_storage_new_user') }}" class="btn btn-primary">{{ 'create_user' | trans }}</a>
                <a href="{{ path('site_admin_storage_new') }}" class="btn btn-primary">{{ 'create' | trans }}</a>
                <hr>
                <table class="records_list table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{ 'storage.user' | trans}}</th>
                            <th>{{ 'storage.folders' | trans }}</th>
                            <th>{{ 'actions' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('site_admin_storage_edit', { 'id': entity.id }) }}">{{ entity.user }}</a></td>
                            <td>
                                <ul>
                                {% for folder in entity.folders %}
                                    <li>{{ folder }}</li>
                                {% endfor %}
                                </ul>
                            </td>
                            <td>
                                {# TODO Refactoriser #}
                                <a href="{{ path('site_admin_storage_edit', { 'id': entity.id }) }}" class="btn btn-primary">edit</a>
                                {{ form(delete_forms[loop.index0], { 'attr': {
                                    'style': 'display: inline-block',
                                    'data-confirm' : 'actions.delete_confirm' | trans
                                } }) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% endblock %}
