{% extends 'InesCoreBundle::layout.html.twig' %}

{% trans_default_domain 'InesCoreBundle' %}

{% form_theme form 'AppBundle:Form:admin/fields.html.twig' %}

{% block breadcrumb_inner %}
  <li class="active">{{ 'storage.title'|trans }}</li>
{% endblock %}

{% block container -%}

    <div class="list-actions">
      <div class="list-actions-inner">
        <h2 class="list-header">{{ 'storage.title'|trans }}</h2>
      </div>
    </div>

    <div class="content-main">
        <div class="row">
            {{ form_start(form) }}

            <div class="col-sm-8">
                {% block fields %}
                {% endblock %}
                {{ form_row(form.user) }}
                {{ form_row(form.folders) }}
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'actions'|trans }}</div>
                    <div class="panel-body">
                    {% block actions %}
                        {{ form_row(form.submit) }}
                    {% endblock %}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}