.bloc-top {
    ul {
        margin-left: 50px;
        li {
            text-align: left;
        }
    }
    figure {
        width: 100%!important;
        a {
            img {
                width: 100%!important;
            }
        }
    }
}
.bloc-top {
        blockquote {
            margin: 0 20px 20px;
        }
    }

.bloc-left {
    .flex {
        width: 100%;
        .bloc {
            text-align: right;
        }
        a.btn {
            position: absolute;
            bottom: 5%;
            right: 5%;
            max-width: 60%;
        }
    }
}

.bloc-right {
    .flex {
        a.btn {
            position: absolute;
            bottom: 5%;
            left: 5%;
            max-width: 60%;
        }
    }
}

.titre-bas  h1.block-title {
        bottom: 0;
}
.titre-centre  h1.block-title {
        top: 40%;
}
.block__text {
    margin-top: 0 !important;
    text-align: justify;
}

.bloc-50 .bloc {
    padding: 0 65px;
}









.tree-file {
    font-size: 16px !important;
    padding: 0 !important; 
    a {
        padding-top: 0 !important;
    }
}
.tree-folder {
        border-top: 1px solid #999999;
        .tree-folder {
                border: none;
                padding-bottom: 0 !important;
        }
}

.documents {
    background-color: #efefef;
    padding: 40px 0;
    h3, h4 {
        a {
            color: #ffffff;
            &:hover, &:focus {
                color: #ffffff;
            }
        }
        font-size: 0.8em;
        padding: 0 20px;
        margin: 0;
        line-height: 35px;
        background-color: #aaaaaa;
        font-weight: bold;
    }
    h3 {
        margin: 0 15px;
    }
}
.habitat {
    h3 {
        background-color: #c1b629;
    }
    .glyphicon {
        color: #c1b629;
    }
}
.batiment {
    h3 {
        background-color: #5b589e;
    }
    .glyphicon {
        color: #5b589e;
    }
}
.industrie {
    h3 {
        background-color: #d3711c;
    }
    .glyphicon {
        color: #d3711c;
    }
}
.dossier {
    h4 {
        color: #ffffff;
        font-size: 0.8em;
    }
    ul {
        background-color: #ffffff;
        list-style-type: none;
        padding: 0;
    }
    li {
        font-size: 16px;
        line-height: 2em;
        color: #999999;
        padding: 0 0 0 15px;
    }
}
#dropdown .caret {
    float: right;
    margin: 12px 5px 0px;
}
.panel-body {
    padding: 0;
    
}
.storage-file {
    color: #333;
    line-height: 1.3em;
    &:hover, &:focus {
        color: #333;
    }
}
.storage-folder {
    font-weight: bold;
    padding-top: 15px;
    color: #000;
    &:hover, &:focus {
        color: #000;
    }
}
     .collapsed {
        color: #999;
        &:hover, &:focus {
            color: #999;
        }
    }

.nav li a {
    padding: 5px 0 0 10px;
}
ul .files:last-child {
    padding-bottom: 15px !important;
}
.glyphicon {
    padding-right: 10px;
}