.onglet-recherche {
    text-align: right;
}
.langue-liste {
    float: right;
    margin: 0 20px 0 10px;
}
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #333;
}
.language li a {
    padding: 5px 0px 0px 0px !important;
}
.language li a:hover {
    background-color: #333;
}
