{% extends 'MopaBootstrapBundle:Form:fields.html.twig' %}

{% block collection_widget %}
{% spaceless %}
  {{ block('form_widget') }}
{% endspaceless %}
{% endblock collection_widget %}

{% block widget_form_group_start %}
  {% if content_type_source is defined %}
    {% set widget_form_group_attr = widget_form_group_attr|merge({'data-content-type-source': content_type_source, 'data-behavior': 'content-link', 'data-remote': path('ines_core_content_index', {'contentTypeSlug': content_type_source}) })|merge(attr) %}
  {% endif %}
{% if widget_form_group|default(false) or form.parent == null %}
    {% if 'collection'in form.parent.vars.block_prefixes %} {# i am a collection child #}
        {% if not omit_collection_item %}
        {% set widget_form_group_attr = widget_form_group_attr|merge({class: widget_form_group_attr.class ~ ' collection-item'}) %}
        {% endif %}
    {% endif %}
    {% if prototype is defined %}
        {% set data_prototype_name = form.vars.form.vars.prototype.vars.name|default('__name__') %}
        {% set widget_form_group_attr = widget_form_group_attr|merge({'data-prototype': form_row(prototype), 'data-prototype-name': data_prototype_name})|merge(attr) %}
    {% endif %}
    {# collection item adds class to form-group attr.class ~ ' '  #}
    
    {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class ~ '  ' ~ widget_form_group_attr.class ~ ' ' ~ id ~ '_form_group' }) %}
    {% if errors|length > 0 %}
        {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('') ~ ' has-error'}) %}
    {% endif %}
  {% if 'collection' in form.vars.block_prefixes and attr.class is defined %}
    {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('row') ~ ' ' ~ attr.class}) %}
  {% endif %}
    <div{% if help_widget_popover.title is not sameas(null) %}{{ block('help_widget_popover') }}{% endif %} {% for attrname,attrvalue in widget_form_group_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
    {# a form item containing the field in block_prefixes is a near subform or a field directly #}
    {% if (form|length > 0 and form.parent != null)
        and 'field' not in form.vars.block_prefixes %}
        {% if show_child_legend%}
            {{ block('form_legend') }}
        {% elseif label_render %}
            {{ form_label(form, label|default(null)) }}
        {% endif %}
    {% else %}
        {% if label_render and 'checkbox' not in form.vars.block_prefixes %}
            {{ form_label(form, label|default(null)) }}
        {% endif %}
    {% endif %}
{% else %}
    {% if label_render %}
        {{ form_label(form, label|default(null)) }}
    {% endif %}
{% endif %}
{% endblock %}

{% block date_widget %}
{% spaceless %}
{% if widget == 'single_text' %}
  {% set attr = attr|merge({'class': attr.class|default('datepicker')}) %}
  {{ block('form_widget_simple') }}
  {{ block('form_message') }}
{% else %}
  {% set attr = attr|merge({'class': attr.class|default('inline')}) %}
  {{ date_pattern|replace({
    '{{ year }}':  form_widget(form.year, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-3')}),
    '{{ month }}': form_widget(form.month, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-3')}),
    '{{ day }}':   form_widget(form.day, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-3')}),
  })|raw }}
  {{ block('form_message') }}
{% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
{% spaceless %}
  {% if widget == 'single_text' %}
    {% set attr = attr|merge({'class': attr.class|default('time')}) %}
    {{ block('form_widget_simple') }}
  {% else %}
    {% set attr = attr|merge({'class': attr.class|default('')}) %}
    {% spaceless %}
    {{ form_widget(form.hour, { 'attr': {  'size': '1'}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-2')}) }}
    {{ form_widget(form.minute, { 'attr': { 'size': '1' }, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-2')}) }}
    {% if with_seconds %}
        :{{ form_widget(form.second, { 'attr': { 'size': '1' } }) }}
    {% endif %}
    {% endspaceless %}
    {{ block('form_message') }}
  {% endif %}
{% endspaceless %}
{% endblock time_widget %}

{% block datetime_widget %}
{% spaceless %}
  {% if widget == 'single_text' %}
    {% set attr = attr|merge({'class': attr.class|default('datepicker')}) %}
    {{ block('form_widget_simple') }}
  {% else %}
    {% set attr = attr|merge({'class': attr.class|default('')}) %}
    <div {{ block('widget_container_attributes') }}>
      {{ form_errors(form.date) }}
      {{ form_errors(form.time) }}
      {{ form_widget(form.date, {'attr': {'class': attr.widget_class|default('')}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-3')}) }}
      {{ form_widget(form.time, {'attr': {'class': attr.widget_class|default('')}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-2')}) }}
      {{ block('form_message') }}
    </div>
  {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}

{% block editor_widget %}
{% set attr = attr|merge({'data-behavior': 'editor','data-toolbar': toolbar|json_encode, 'class': attr.class|default('') ~ ' form-control'}) %}
    {% if not inline and horizontal %}
    {% if not label_render %}
    {% set horizontal_input_wrapper_class = horizontal_input_wrapper_class ~ ' ' ~ horizontal_label_offset_class %}
    {% endif %}
    <div class="{{ horizontal_input_wrapper_class }}">
    {% endif %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% if not inline and horizontal %}
      {{ block('form_message') }}
    </div>
    {% endif %}
{% endblock editor_widget %}

{% block media_library_widget %}
<div class="media-library row" data-behavior="media-library" data-library-type="{{ library_type }}">
  <div class="col-md-12">
    <a href="#" class="btn btn-info btn-block media-library-selector">
      {% trans from "InesCoreBundle" %}media_library.select{% endtrans %}
    </a>

    {% if help_block %}
    <p class="help-block">{{ help_block }}</p>
    {% endif %}
  </div>
  <div class="col-md-12">
    <div class="media-library-preview"></div>
  </div>

  {% set type = type|default('hidden') %}
  {{- block('form_widget_simple') -}}
</div>
{% endblock %}
