{% extends 'InesCoreBundle::layout.html.twig' %}

{% trans_default_domain 'InesCoreBundle' %}

{% block breadcrumb_inner %}
  <li class="active">
    {{ 'webform_entry.list'|trans }}
  </li>
{% endblock %}

{% block container %}

<div class="list-actions">
  <div class="list-actions-inner">

    <h2 class="list-header">{{ 'webform_entry.title'|trans }}</h2>

    {% if can_export %}
    <a href="{{ path('ines_core_webform_entry_export', app.session.get('ines_core.webformentry.query_list', {})) }}" class="btn btn-primary" title="Exporter au format CSV">
      <i class="fa fa-download"></i> Exporter
    </a>
    {% endif %}

  </div>
</div>

<div class="list-main">

  <form method="get" action="{{ path('ines_core_webform_entry_index') }}" role="form" class="form-inline form-filter pull-right">
    {{ form_widget(filterForm) }}
    <button type="submit" class="btn btn-default">
      Rechercher
    </button>

  </form>

  <div class="table-container">
  <table class="table table-bordered table-hover table-list">
    <thead>
      <tr>
        <th>{% trans %}webform_entry.summary{% endtrans %}</th>
        <th>{% trans %}webform_entry.webform{% endtrans %}</th>
        <th>{% trans %}webform_entry.language{% endtrans %}</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="4">
          <div class="pager-list pagerfanta">
            {{ pagerfanta(pager) }}
          </div>
        </td>
      </tr>
    </tfoot>
    <tbody>
      {% for entry in pager.currentPageResults %}
      <tr>
        <td>{{ entry.title }}</td>
        <td>{{ '#' ~ entry.parent }}</td>
        <td>{{ entry.language }}</td>
        <td>
          <form data-confirm="{% trans %}actions.delete_confirm{% endtrans %}" action="{{ path('ines_core_webform_entry_delete', {'id': entry.id}) }}" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <div class="btn-group">
              <a href="{{ path('ines_core_webform_entry_show', {'id': entry.id}) }}" class="btn btn-primary">
                Consulter
              </a>
              <button type="submit" class="btn btn-danger">
                Supprimer
              </button>
            </div>
          </form>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}
