{% extends 'InesCoreBundle::layout.html.twig' %}

{% trans_default_domain 'InesCoreBundle' %}

{% block breadcrumb_inner %}
  <li class="active">
    <a href="{{ path('ines_core_webform_entry_index', app.session.get('ines_core.webformentry.query_list', {})) }}">
    {{ 'webform_entry.list'|trans }}
    </a>
  </li>
  <li class="active">
    {% trans %}webform_entry.show{% endtrans %}
  </li>
{% endblock %}

{% block container %}
<div class="content-main">
  <h3>Message #{{ content.id }} pour le formulaire "{{ webForm.name }}"</h3>

  {% for field in webForm.getEmbeddedFieldConfigs() %}
    <p>
      <strong>{{ field.label }} :</strong>&nbsp;
      {% set meta = content_meta(content, field.name) %}
      {% if meta %}
        {{ content_meta_html(meta) }}
      {% endif %}
    </p>
  {% endfor %}
</div>
{% endblock %}
