<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% set counter = 0 %}
        {% for item in items %}
            <li data-target="#carousel-example-generic" data-slide-to="{{ counter }}"></li>
                {% set counter = counter + 1 %}
            {% endfor %}
    </ol>
    {# slider item #}
    {# le premier élément et le dernier ont une classe supplémentaire, peut-être utile pour l'intégration #}
    <div class="carousel-inner slider-item" role="listbox">
            

    {% for item in items %}
        {# slider item #}

        {# si l'item correspond à  une vidéo, on n'affiche uniquement cell-ci #}
        {# le player youtube ne permet pas la superposition de texte ou de liens #}
        {% if item.movie %}
            <div class="slider-item__movie">
                {{ item.movie|movie }}
            </div>
        {% else %}
            <div class="slider-item__container item {% if loop.first %}active{% endif %}">

                {# si image renseignée #}
                {% if item.picture %}
                    <div class="slider-img {% if item.special and item.text_location=='left' %} col-xs-push-6 {% endif %}{% if item.special %} col-xs-6 {% endif %}">
                    <img src="{{ item.picture.filePath|imagine_filter('single_full_hd') }}" class="slider-item__picture">
                    </div>
                {% endif %}

                {# cartouche de texte à positionné sur l'image #}
                {% if item.title or item.content %}
                    <div class="{% if item.special and item.text_location=='left' %} col-xs-pull-6 {% endif %}{% if item.special %} col-xs-6 {% else %}slider-item__text carousel-caption slider_text_{{ item.text_location ? item.text_location : 'left' }}{% endif %}">
                        <div class="slider-item__context bloc">
                            {# titre #}
                            {% if item.title %}
                                <h3 class="slider_item__title">
                                    {{ item.title }}
                                </h3>
                            {% endif %}
                            {# texte riche #}
                            {% if item.content %}
                                {{ item.content|raw }}
                            {% endif %}
                        </div>
                        {# si l'item a un lien #}
                        {% if item.url %}
                        <div class="link slider-item__container slider-item__container--link"><a href="{{ item.url }}">{{ 'savoir_plus' | trans }}</a></div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    </div>
    <!-- Controls -->
    {% if counter > 1 %}
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    {% endif %}
</div>
