{% trans_default_domain 'InesCoreBundle' %}

{% macro field_group_item(widget, block_name) %}
  {% spaceless %}
  {% if widget.vars['prototype'] is defined %}
      {% set form = widget.vars['prototype'] %}
      {% set counter = '__field_group__' %}
  {% else %}
      {% set form = widget %}
      {% set counter = form.vars.name %}
  {% endif %}

  <div class="form-view" data-behavior="form-viewer">
    <div class="form-view__show form-view__block">
      <a class="form-view__btn btn btn-default" data-action="edit" href="#"><i class="fa fa-pencil-square-o"></i></a>
      <h2 class="form-view__title">
        {{ block_name }} <span class="form-view__counter">{{ counter }}</span>
      </h2>
    </div>
    <div class="form-view__edit form-view__block hide">
      <a class="form-view__btn btn btn-default" data-action="show" href="#"><i class="fa fa-eye"></i></a>
      <h2 class="form-view__title">
        {{ block_name }} <span class="form-view__counter">{{ counter }}</span>
      </h2>
      <div class="collection__item entry__item">
        {% for formChild in form %}
          {{ form_row(formChild) }}
        {% endfor %}

        <a href="#" class="btn btn-danger btn-remove btn-block">
          <i class="fa fa-times"></i>&nbsp;Retirer
        </a>
      </div>
    </div>
  </div>

  {% endspaceless %}
{% endmacro %}

{% macro field_group(fieldGroups, form, position) %}
  {% for fieldGroup in fieldGroups if fieldGroup.hasDisplayPosition(position) %}
    {% set legend = fieldGroup.legend %}
    {% if fieldGroup.displayPane %}
    <div class="panel panel-default field-group--{{ fieldGroup.name }}">
      <div class="panel-heading">
        {{ fieldGroup.legend }}
      </div>
      <div class="panel-body field-group">
    {% else %}
    <div class="field-group field-group--{{ fieldGroup.name }}">
    {% endif %}

    {% if fieldGroup.mayBeRepeated %}
    <div class="collection entry__collection" data-prototype="{{ _self.field_group_item(form[fieldGroup.name], legend|singularize)|e }}" data-sortable="{{ fieldGroup.mayBeSorted }}">
      <div class="collection__container entry__container">
        {% for fieldGroup in form[fieldGroup.name] %}
          {{ _self.field_group_item(fieldGroup, legend|singularize) }}
        {% endfor %}
      </div>

      <a href="#" class="btn btn-info btn-block btn-add">
        <i class="fa fa-plus"></i>&nbsp;Ajouter
      </a>
    </div>
    {% else %}
      {{ form_row(form[fieldGroup.name]) }}
    {% endif %}

    {% if fieldGroup.displayPane %}
      </div>
    </div>
    {% else %}
    </div>
    {% endif %}

  {% endfor %}

{% endmacro %}

{{ form_widget(form._token) }}

{{ form_errors(form) }}

<div class="row">
  <div class="col-md-8">
    {% if form.title is defined %}
    {{ form_row(form.title) }}
    {% endif %}

    {% if content and content.id and contentType.hasSingleView %}
    <div class="content-url">
      {% if contentType.linkRewrite %}
        {% if content.hasParent and parent %}
          {% set url = url('ines_theme_content_child', {'linkRewrite': contentType.linkRewrite, 'slug': parent.slug, 'childSlug': content.slug, 'preview': 'true'}) %}
        {% else %}
          {% set url = url('ines_theme_content_single', {'linkRewrite': contentType.linkRewrite, 'slug': content.slug, 'preview': 'true'}) %}
        {% endif %}

      {% else %}
        {% set url = url('ines_theme_content_page', {'slug': content.slug, 'preview': 'true'}) %}
      {% endif %}

      {% if url is defined %}
      <span>Lien vers le contenu</span>
      <a href="{{ url }}" target="_blank">
        {{ url|replace({'?preview=true': '', '&preview=true': ''}) }}
      </a>
      {% endif %}
    </div>
    {% endif %}

    {{ _self.field_group(contentType.embeddedFieldGroups, form, 'high') }}

    {% if form.excerpt is defined %}
    {{ form_row(form.excerpt) }}
    {% endif %}

    {% if form.body is defined %}
    {{ form_row(form.body) }}
    {% endif %}

    {{ _self.field_group(contentType.embeddedFieldGroups, form, 'normal') }}

    {% if content %}
      {{ render(controller('InesCoreBundle:Revision:list', {'content': content})) }}
    {% endif %}

  </div>
  <div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading">
        {% trans %}content.pane.status{% endtrans %}
      </div>
      <div class="panel-body">

        {{ form_row(form.status) }}

        {% if form.publishedAt is defined %}
          {{ form_row(form.publishedAt) }}
        {% endif %}

        {% if form.expiredAt is defined %}
          {{ form_row(form.expiredAt) }}
        {% endif %}

        <button type="submit" class="btn btn-block btn-primary">
          {% if content %}
            {{ 'content.actions.update'|trans }}
          {% else %}
            {{ 'content.actions.create'|trans }}
          {% endif %}
        </button>
      </div>
    </div>

    {% if contentType.hasSingleView %}
    <div class="panel panel-default">
      <div class="panel-heading">
        {% trans %}content.pane.seo{% endtrans %}
      </div>
      <div class="panel-body">

        {{ form_row(form.__seo_title) }}
        {{ form_row(form.__seo_description) }}

      </div>
    </div>
    {% endif %}

    {% if contentType.hasCommentView %}
    <div class="panel panel-default">
      <div class="panel-heading">
        {% trans %}content.pane.comment{% endtrans %}
      </div>
      <div class="panel-body">
        {{ form_widget(form.commentEnabled) }}

        {% if content is defined and content %}
        {% transchoice content.commentCount %}
            {0}0 commentaire approuvé|{1}1 commentaire approuvé|]1,Inf]%count% commentaires approuvés
        {% endtranschoice %}

        <br><a href="{{ path('ines_core_comment_index', {'comment_filter': {'content_id': content.id}}) }}">Voir les commentaires en attente de modération</a>
        {% endif %}
      </div>
    </div>
    {% endif %}

    {% if form.parentContent is defined %}
    <div class="panel panel-default">
      <div class="panel-heading">
        {% trans %}content.pane.parent{% endtrans %}
      </div>
      <div class="panel-body">

        {{ form_row(form.parentContent) }}
        {{ form_row(form.position) }}

      </div>
    </div>
    {% endif %}

    {% if languages %}
    <div class="panel panel-default">
      <div class="panel-heading">
        {% trans %}content.pane.translation{% endtrans %}
      </div>
      <ul class="list-group">
        {% for language in languages if language != app.request.locale %}
        <li class="list-group-item">
        <i class="flag flag-{{ language }}"></i>&nbsp;
        {% set translation = content.translationByLanguage(language) %}
        {% if translation %}
            <a href="{{ path('ines_core_content_edit', {'contentTypeSlug': contentType.slug, 'contentId': translation.translationId, '_locale': language}) }}" title="{% trans %}content.edit_translation{% endtrans %}">
                Modifier la traduction
            </a>
        {% else %}
          <span>Non traduit</span>
        {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% for taxonomy in taxonomies %}
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">{{ taxonomy.name }}</h3>
        <a href="{{ path('ines_core_term_index', {'taxonomySlug': taxonomy.slug}) }}" class="btn btn-default pull-right" target="_blank">
          Ajouter
        </a>
      </div>
      <div class="panel-body">
        {{ form_widget(form['term_' ~ taxonomy.slug]) }}
      </div>
    </div>
    {% endfor %}

    {% if form.__thumbnail is defined %}
    <div class="panel panel-default">
      <div class="panel-heading">
        Image à la une
      </div>
      <div class="panel-body">
        {{ form_widget(form.__thumbnail) }}
      </div>
    </div>
    {% endif %}

    {{ _self.field_group(contentType.embeddedFieldGroups, form, 'sidebar') }}

  </div>
</div>


