{% extends 'InesCoreBundle::layout.html.twig' %}

{% trans_default_domain 'InesCoreBundle' %}

{% block breadcrumb_inner %}
  <li class="active">
    <a href="{{ path('ines_core_content_index', {'contentTypeSlug': contentType.slug}|merge(app.session.get('ines_core.content.query_list', {}))) }}">
    {% set contentTypeName = contentType.name|trans %}
    {% trans with {'%type%': contentTypeName} %}content.list{% endtrans %}
    </a>
  </li>
  <li class="active">
    {% trans %}content.edit{% endtrans %}
  </li>
{% endblock %}

{% block container %}

<div class="content-main">
<form action="{{ path('ines_core_content_update', {'contentTypeSlug': contentType.slug, 'contentId': content.id}) }}" method="post" {{ form_enctype(form) }}>
{#   {{ form_row(form.option.birthdate) }} #}
  <input type="hidden" name="_method" value="PUT">
  {{ include('InesCoreBundle:Content:_form.html.twig', {'form': form, 'content': content, 'contentType': contentType, 'languages': languages, 'entry': entry, 'taxonomies': taxonomies}) }}
</form>
</div>
{% endblock %}

{% block env_javascripts %}
  ENV.lock_interval = 25000;
  ENV.active_content_lock = {{ lock_active ? 1 : 0 }};
  {% if lock_active %}
  ENV.lock = {
    interval: 25000,
    url: "{{ path('ines_core_content_lock', {'contentTypeSlug': contentType.slug, 'contentId': content.id}) }}"
  };
  {% endif %}
{% endblock %}
