{% extends 'InesCoreBundle::layout.html.twig' %}

{% trans_default_domain 'InesCoreBundle' %}

{% block breadcrumb_inner %}
  <li class="active">
    {% set contentTypeName = contentType.name|trans %}
    {% trans with {'%type%': contentTypeName} %}content.list{% endtrans %}
  </li>
{% endblock %}

{% block container %}

<div class="list-actions">
  <div class="list-actions-inner">
    <div class="list-languages">
      {% for language in languages %}
      <a href="{{ path('ines_core_content_index', {'contentTypeSlug': contentType.slug, '_locale': language}|merge(app.session.get('ines_core.content.query_list', {}))) }}">
      {% if language == app.request.locale %}<strong>{% endif %}
      {{ ('lang.' ~ language)|trans }} {% if counts[language] is defined %}({{ counts[language] }}){% endif %}
      {% if language == app.request.locale %}</strong>{% endif %}
      </a>
      {% endfor %}
    </div>

    <h2 class="list-header">{{ contentType.name|trans }}</h2>

    <a href="{{ path('ines_core_content_new', {'contentTypeSlug': contentType.slug}) }}" class="btn btn-primary">
      <strong>{% trans %}actions.new{% endtrans %}</strong>
    </a>

  </div>
</div>

<div class="list-main">
  <form method="get" action="{{ path('ines_core_content_index', {'contentTypeSlug': contentType.slug, 'modal': app.request.get('modal', false), 'id': app.request.get('id', '')}) }}" role="form" class="form-inline form-filter pull-right">
    {{ form_widget(filterForm) }}
    <button type="submit" class="btn btn-default">
      Rechercher
    </button>
  </form>

  <div class="table-container">
  {{ grid.render(limitForm)|raw }}
  </div>

</div>
{% endblock %}
