{% extends 'InesCoreBundle::layout.html.twig' %}

{% trans_default_domain 'InesCoreBundle' %}

{% block breadcrumb_inner %}
  <li>
    <a href="{{ path('ines_core_content_index', {'contentTypeSlug': contentType.slug}|merge(app.session.get('ines_core.content.query_list', {}))) }}">
    {% set contentTypeName = contentType.name|trans %}
    {% trans with {'%type%': contentTypeName} %}content.list{% endtrans %}
    </a>
  </li>
  <li class="active">
    {% trans %}content.new{% endtrans %}
  </li>
{% endblock %}

{% block container %}
<div class="content-main">
<form action="{{ path('ines_core_content_create', {'contentTypeSlug': contentType.slug}) }}" method="post" {{ form_enctype(form) }}>
  {{ include('InesCoreBundle:Content:_form.html.twig', {'form': form, 'content': null, 'contentType': contentType, 'languages': null, 'entry': entry, 'taxonomies': taxonomies}) }}
</form>
</div>
{% endblock %}
