{% trans_default_domain 'InesCoreBundle' %}

{{ form_widget(form._token) }}

{{ form_errors(form) }}

<div class="row">
  <div class="col-md-8">
    {{ form_row(form.name) }}

    {{ include('InesCoreBundle:EmbeddedForm:_form.html.twig', {'form': form.embeddedForm, 'isWebForm': true})}}

    <div class="panel panel-default">
      <div class="panel-heading">Présentation</div>
      <div class="panel-body">
        {{ form_row(form.embeddedForm.cssClass) }}

        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.submitText) }}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Notifications</div>
      <div class="panel-body">
        {{ form_widget(form.activeNotifications) }}
        {{ form_row(form.notifications) }}
      </div>
    </div>

  </div>
  <div class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-heading">Actions</div>
        <div class="panel-body">
          <button type="submit" class="btn btn-block btn-primary">
            Enregistrer
          </button>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Paramètres</div>
        <div class="panel-body">
          {{ form_row(form.limitEntries) }}
          {{ form_widget(form.isActive) }}
          {{ form_row(form.startedAt) }}
          {{ form_row(form.endedAt) }}
        </div>
      </div>

  </div>
</div>
