Bonjour,<br>
<br>
Un utilisateur a soumis le formulaire {{ webForm.name }}, le {{ entry.createdAt|date('d/m/Y à H:i:s') }}.<br><br>

Voici les informations enregistrées :<br><br>
<table>
{%- for field in webForm.getEmbeddedFieldConfigs() %}
  {%- set meta = content_meta(entry, field.name) %}
  <tr>
  <td>{{ field.label }}</td><td>{%- if meta %}{{ content_meta_html(meta)|striptags }}{%- endif %}</td>
  </tr>
{%- endfor %}
</table>
<br>
