Bonjour,

Un utilisateur a soumis le formulaire {{ webForm.name }}, le {{ entry.createdAt|date('d/m/Y à H:i:s') }}.

L'enregistrement porte le numéro #{{ entry.id }}.

Voici les informations enregistrées :

{%- for field in webForm.getEmbeddedFieldConfigs() %}
  {%- set meta = content_meta(entry, field.name) %}
  {{ field.label }} : {%- if meta %}{{ content_meta_html(meta)|striptags }}{%- endif %}

{%- endfor %}
