{% extends 'InesCoreBundle::layout.html.twig' %}

{% trans_default_domain 'InesCoreBundle' %}

{% block breadcrumb_inner %}
  <li>
    <a href="{{ path('ines_core_webform_index', app.session.get('ines_core.webform.query_list', {})) }}">
    {% trans %}webform.list{% endtrans %}
    </a>
  </li>
  <li class="active">
    {% trans %}webform.edit{% endtrans %}
  </li>
{% endblock %}

{% block container %}
<div class="content-main">
  <form action="{{ path('ines_core_webform_edit', {'id': webForm.id}) }}" method="post" role="form">
    <input type="hidden" name="_method" value="PUT">
    {{ include('InesCoreBundle:WebForm:_form.html.twig', {'form': form, 'webForm': webForm}) }}
  </form>
</div>
{% endblock %}
