{% extends 'InesCoreBundle::layout.html.twig' %}

{% trans_default_domain 'InesCoreBundle' %}

{% block breadcrumb_inner %}
  <li class="active">
    {{ 'webform.list'|trans }}
  </li>
{% endblock %}

{% block container %}

<div class="list-actions">
  <div class="list-actions-inner">

    <h2 class="list-header">{{ 'webform.title'|trans }}</h2>

    <a href="{{ path('ines_core_webform_new') }}" class="btn btn-primary">
      {% trans %}actions.new{% endtrans %}
    </a>

  </div>
</div>

<div class="list-main">
  <div class="table-container">
  <table class="table table-bordered table-hover table-list">
    <thead>
      <tr>
        <th>{% trans %}webform.name{% endtrans %}</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="2">
          <div class="pager-list pagerfanta">
            {{ pagerfanta(pager) }}
          </div>
        </td>
      </tr>
    </tfoot>
    <tbody>
      {% for webform in pager.currentPageResults %}
      <tr>
        <td>{{ webform.name }}</td>
        <td>
          {% if is_modal %}
            <button type="button" data-id="{{ webform.id }}" class="btn btn-default btn-select"><i class="fa fa-chevron-circle-right"></i>&nbsp;Sélectionner</button>
          {% else %}
            <form data-confirm="{% trans %}actions.delete_confirm{% endtrans %}" action="{{ path('ines_core_webform_delete', {'id': webform.id}) }}" method="POST" class="form-inline">
              <input type="hidden" name="_method" value="DELETE">
              <div class="btn-group">
                <a href="{{ path('ines_core_webform_edit', {'id': webform.id}) }}" class="btn btn-primary">
                  <i class="fa fa-pencil"></i>&nbsp;{% trans %}actions.edit{% endtrans %}
                </a>
                <button type="submit" class="btn btn-danger">
                  Supprimer
                </button>
              </div>
            </form>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}
