{% extends 'InesCoreBundle::layout.html.twig' %}

{% trans_default_domain 'InesCoreBundle' %}

{% block breadcrumb_inner %}
  <li>
    <a href="{{ path('ines_core_webform_index', app.session.get('ines_core.webform.query_list', {})) }}">
    {% trans %}webform.list{% endtrans %}
    </a>
  </li>
  <li class="active">
    {% trans %}webform.new{% endtrans %}
  </li>
{% endblock %}

{% block container %}
<div class="content-main">
  <form action="{{ path('ines_core_webform_create') }}" method="post" role="form">
    {{ include('InesCoreBundle:WebForm:_form.html.twig', {'form': form, 'webForm': null}) }}
  </form>
</div>
{% endblock %}
